<!DOCTYPE html>
<html {{ HTML_ATTRS }}>

  <head {{ HEAD_ATTRS }}>
    {{ HEAD }}
  </head>

  <body {{ BODY_ATTRS }}>
  {{ APP }}
  </body>

  <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-analytics.js"></script>
  <script>
    var firebaseConfig = {
      apiKey: "AIzaSyD9DUkjgNL_3PTwlZMsfhzSBbzTjOpvuhg",
      authDomain: "api-project-354613876357.firebaseapp.com",
      databaseURL: "https://api-project-354613876357.firebaseio.com",
      projectId: "api-project-354613876357",
      storageBucket: "api-project-354613876357.appspot.com",
      messagingSenderId: "354613876357",
      appId: "1:354613876357:web:a76b895e212e45c77f3bec",
      measurementId: "G-Z25HF0CMV0"
    };
    firebase.initializeApp(firebaseConfig);
    firebase.analytics();
  </script>
</html>
