.el-radio__input.is-checked .el-radio__inner {
  border-color: #e84b3c;
  background: #e84b3c;
}

.el-radio__input.is-checked+.el-radio__label {
  color: #e84b3c;
}

.el-radio {
  color: #2b2e3d;
}

.el-textarea__inner {
  font-family: inherit;
  padding: 7px 15px;
}

.el-input__inner::placeholder {
  font-family: inherit;
}

.el-checkbox__input.is-checked + .el-checkbox__label {
  color: #e84b3c;
}

.el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner {
  border-color: #e84b3c;
  background: #e84b3c;
}

.el-checkbox__input.is-focus .el-checkbox__inner {
  border-color: #e84b3c;
}
