.flag {
  display: inline-block;
  width: 24px; height: 24px;
  vertical-align: middle;
}

.flag-AE {
    background: url(/flags.png) -24px -0;
}
.flag-AF {
    background: url(/flags.png) -0 -24px;
}
.flag-AG {
    background: url(/flags.png) -24px -24px;
}
.flag-AI {
    background: url(/flags.png) -48px -0;
}
.flag-AL {
    background: url(/flags.png) -48px -24px;
}
.flag-AM {
    background: url(/flags.png) -0 -48px;
}
.flag-AO {
    background: url(/flags.png) -24px -48px;
}
.flag-AR {
    background: url(/flags.png) -48px -48px;
}
.flag-AS {
    background: url(/flags.png) -72px -0;
}
.flag-AT {
    background: url(/flags.png) -72px -24px;
}
.flag-AU {
    background: url(/flags.png) -72px -48px;
}
.flag-AW {
    background: url(/flags.png) -0 -72px;
}
.flag-AX {
    background: url(/flags.png) -24px -72px;
}
.flag-AZ {
    background: url(/flags.png) -48px -72px;
}
.flag-BA {
    background: url(/flags.png) -72px -72px;
}
.flag-BB {
    background: url(/flags.png) -96px -0;
}
.flag-BD {
    background: url(/flags.png) -96px -24px;
}
.flag-BE {
    background: url(/flags.png) -96px -48px;
}
.flag-BF {
    background: url(/flags.png) -96px -72px;
}
.flag-BG {
    background: url(/flags.png) -0 -96px;
}
.flag-BH {
    background: url(/flags.png) -24px -96px;
}
.flag-BI {
    background: url(/flags.png) -48px -96px;
}
.flag-BJ {
    background: url(/flags.png) -72px -96px;
}
.flag-BL {
    background: url(/flags.png) -96px -96px;
}
.flag-BM {
    background: url(/flags.png) -120px -0;
}
.flag-BN {
    background: url(/flags.png) -120px -24px;
}
.flag-BO {
    background: url(/flags.png) -120px -48px;
}
.flag-BQ {
    background: url(/flags.png) -120px -72px;
}
.flag-BR {
    background: url(/flags.png) -120px -96px;
}
.flag-BS {
    background: url(/flags.png) -0 -120px;
}
.flag-BT {
    background: url(/flags.png) -24px -120px;
}
.flag-BV {
    background: url(/flags.png) -48px -120px;
}
.flag-BW {
    background: url(/flags.png) -72px -120px;
}
.flag-BY {
    background: url(/flags.png) -96px -120px;
}
.flag-BZ {
    background: url(/flags.png) -120px -120px;
}
.flag-CA {
    background: url(/flags.png) -144px -0;
}
.flag-CC {
    background: url(/flags.png) -144px -24px;
}
.flag-CD {
    background: url(/flags.png) -144px -48px;
}
.flag-CF {
    background: url(/flags.png) -144px -72px;
}
.flag-CG {
    background: url(/flags.png) -144px -96px;
}
.flag-CH {
    background: url(/flags.png) -144px -120px;
}
.flag-CI {
    background: url(/flags.png) -0 -144px;
}
.flag-CK {
    background: url(/flags.png) -24px -144px;
}
.flag-CL {
    background: url(/flags.png) -48px -144px;
}
.flag-CM {
    background: url(/flags.png) -72px -144px;
}
.flag-CN {
    background: url(/flags.png) -96px -144px;
}
.flag-CR {
    background: url(/flags.png) -120px -144px;
}
.flag-CO {
    background: url(/flags.png) -144px -144px;
}
.flag-CU {
    background: url(/flags.png) -168px -0;
}
.flag-CV {
    background: url(/flags.png) -168px -24px;
}
.flag-CW {
    background: url(/flags.png) -168px -48px;
}
.flag-CX {
    background: url(/flags.png) -168px -72px;
}
.flag-CY {
    background: url(/flags.png) -168px -96px;
}
.flag-DE {
    background: url(/flags.png) -168px -120px;
}
.flag-CZ {
    background: url(/flags.png) -168px -144px;
}
.flag-DJ {
    background: url(/flags.png) -0 -168px;
}
.flag-DK {
    background: url(/flags.png) -24px -168px;
}
.flag-DM {
    background: url(/flags.png) -48px -168px;
}
.flag-DO {
    background: url(/flags.png) -72px -168px;
}
.flag-DZ {
    background: url(/flags.png) -96px -168px;
}
.flag-EC {
    background: url(/flags.png) -120px -168px;
}
.flag-EE {
    background: url(/flags.png) -144px -168px;
}
.flag-EG {
    background: url(/flags.png) -168px -168px;
}
.flag-ER {
    background: url(/flags.png) -192px -0;
}
.flag-ES {
    background: url(/flags.png) -192px -24px;
}
.flag-ET {
    background: url(/flags.png) -192px -48px;
}
.flag-FI {
    background: url(/flags.png) -192px -72px;
}
.flag-FJ {
    background: url(/flags.png) -192px -96px;
}
.flag-FK {
    background: url(/flags.png) -192px -120px;
}
.flag-FM {
    background: url(/flags.png) -192px -144px;
}
.flag-FO {
    background: url(/flags.png) -192px -168px;
}
.flag-FR {
    background: url(/flags.png) -0 -192px;
}
.flag-GA {
    background: url(/flags.png) -24px -192px;
}
.flag-GB {
    background: url(/flags.png) -48px -192px;
}
.flag-GD {
    background: url(/flags.png) -72px -192px;
}
.flag-GE {
    background: url(/flags.png) -96px -192px;
}
.flag-GF {
    background: url(/flags.png) -120px -192px;
}
.flag-GG {
    background: url(/flags.png) -144px -192px;
}
.flag-GH {
    background: url(/flags.png) -168px -192px;
}
.flag-GI {
    background: url(/flags.png) -192px -192px;
}
.flag-GL {
    background: url(/flags.png) -216px -0;
}
.flag-GM {
    background: url(/flags.png) -216px -24px;
}
.flag-GN {
    background: url(/flags.png) -216px -48px;
}
.flag-GP {
    background: url(/flags.png) -216px -72px;
}
.flag-GQ {
    background: url(/flags.png) -216px -96px;
}
.flag-GR {
    background: url(/flags.png) -216px -120px;
}
.flag-GS {
    background: url(/flags.png) -216px -144px;
}
.flag-GT {
    background: url(/flags.png) -216px -168px;
}
.flag-GU {
    background: url(/flags.png) -216px -192px;
}
.flag-GW {
    background: url(/flags.png) -0 -216px;
}
.flag-GY {
    background: url(/flags.png) -24px -216px;
}
.flag-HK {
    background: url(/flags.png) -48px -216px;
}
.flag-HN {
    background: url(/flags.png) -72px -216px;
}
.flag-HR {
    background: url(/flags.png) -96px -216px;
}
.flag-HT {
    background: url(/flags.png) -120px -216px;
}
.flag-HU {
    background: url(/flags.png) -144px -216px;
}
.flag-ID {
    background: url(/flags.png) -168px -216px;
}
.flag-IE {
    background: url(/flags.png) -192px -216px;
}
.flag-IL {
    background: url(/flags.png) -216px -216px;
}
.flag-IM {
    background: url(/flags.png) -240px -0;
}
.flag-IN {
    background: url(/flags.png) -240px -24px;
}
.flag-IO {
    background: url(/flags.png) -240px -48px;
}
.flag-IQ {
    background: url(/flags.png) -240px -72px;
}
.flag-IR {
    background: url(/flags.png) -240px -96px;
}
.flag-IS {
    background: url(/flags.png) -240px -120px;
}
.flag-IT {
    background: url(/flags.png) -240px -144px;
}
.flag-JE {
    background: url(/flags.png) -240px -168px;
}
.flag-JM {
    background: url(/flags.png) -240px -192px;
}
.flag-JO {
    background: url(/flags.png) -240px -216px;
}
.flag-JP {
    background: url(/flags.png) -0 -240px;
}
.flag-KE {
    background: url(/flags.png) -24px -240px;
}
.flag-KG {
    background: url(/flags.png) -48px -240px;
}
.flag-KH {
    background: url(/flags.png) -72px -240px;
}
.flag-KI {
    background: url(/flags.png) -96px -240px;
}
.flag-KM {
    background: url(/flags.png) -120px -240px;
}
.flag-KN {
    background: url(/flags.png) -144px -240px;
}
.flag-KP {
    background: url(/flags.png) -168px -240px;
}
.flag-KR {
    background: url(/flags.png) -192px -240px;
}
.flag-KW {
    background: url(/flags.png) -216px -240px;
}
.flag-KY {
    background: url(/flags.png) -240px -240px;
}
.flag-KZ {
    background: url(/flags.png) -264px -0;
}
.flag-LA {
    background: url(/flags.png) -264px -24px;
}
.flag-LB {
    background: url(/flags.png) -264px -48px;
}
.flag-LC {
    background: url(/flags.png) -264px -72px;
}
.flag-LI {
    background: url(/flags.png) -264px -96px;
}
.flag-LK {
    background: url(/flags.png) -264px -120px;
}
.flag-LR {
    background: url(/flags.png) -264px -144px;
}
.flag-LS {
    background: url(/flags.png) -264px -168px;
}
.flag-LT {
    background: url(/flags.png) -264px -192px;
}
.flag-LU {
    background: url(/flags.png) -264px -216px;
}
.flag-LV {
    background: url(/flags.png) -264px -240px;
}
.flag-LY {
    background: url(/flags.png) -0 -264px;
}
.flag-MA {
    background: url(/flags.png) -24px -264px;
}
.flag-MC {
    background: url(/flags.png) -48px -264px;
}
.flag-MD {
    background: url(/flags.png) -72px -264px;
}
.flag-ME {
    background: url(/flags.png) -96px -264px;
}
.flag-MG {
    background: url(/flags.png) -120px -264px;
}
.flag-MH {
    background: url(/flags.png) -144px -264px;
}
.flag-MK {
    background: url(/flags.png) -168px -264px;
}
.flag-ML {
    background: url(/flags.png) -192px -264px;
}
.flag-MM {
    background: url(/flags.png) -216px -264px;
}
.flag-MN {
    background: url(/flags.png) -240px -264px;
}
.flag-MO {
    background: url(/flags.png) -264px -264px;
}
.flag-MP {
    background: url(/flags.png) -288px -0;
}
.flag-MQ {
    background: url(/flags.png) -288px -24px;
}
.flag-MR {
    background: url(/flags.png) -288px -48px;
}
.flag-MS {
    background: url(/flags.png) -288px -72px;
}
.flag-MT {
    background: url(/flags.png) -288px -96px;
}
.flag-MU {
    background: url(/flags.png) -288px -120px;
}
.flag-MV {
    background: url(/flags.png) -288px -144px;
}
.flag-MW {
    background: url(/flags.png) -288px -168px;
}
.flag-MX {
    background: url(/flags.png) -288px -192px;
}
.flag-MY {
    background: url(/flags.png) -288px -216px;
}
.flag-MZ {
    background: url(/flags.png) -288px -240px;
}
.flag-NA {
    background: url(/flags.png) -288px -264px;
}
.flag-NC {
    background: url(/flags.png) -0 -288px;
}
.flag-NE {
    background: url(/flags.png) -24px -288px;
}
.flag-NF {
    background: url(/flags.png) -48px -288px;
}
.flag-NG {
    background: url(/flags.png) -72px -288px;
}
.flag-NI {
    background: url(/flags.png) -96px -288px;
}
.flag-NLD {
    background: url(/flags.png) -120px -288px;
}
.flag-NO {
    background: url(/flags.png) -144px -288px;
}
.flag-NP {
    background: url(/flags.png) -168px -288px;
}
.flag-NR {
    background: url(/flags.png) -192px -288px;
}
.flag-NU {
    background: url(/flags.png) -216px -288px;
}
.flag-NZ {
    background: url(/flags.png) -240px -288px;
}
.flag-OM {
    background: url(/flags.png) -264px -288px;
}
.flag-PA {
    background: url(/flags.png) -288px -288px;
}
.flag-PE {
    background: url(/flags.png) -312px -0;
}
.flag-PF {
    background: url(/flags.png) -312px -24px;
}
.flag-PG {
    background: url(/flags.png) -312px -48px;
}
.flag-PH {
    background: url(/flags.png) -312px -72px;
}
.flag-PK {
    background: url(/flags.png) -312px -96px;
}
.flag-PL {
    background: url(/flags.png) -312px -120px;
}
.flag-PM {
    background: url(/flags.png) -312px -144px;
}
.flag-PN {
    background: url(/flags.png) -312px -168px;
}
.flag-PR {
    background: url(/flags.png) -312px -192px;
}
.flag-PS {
    background: url(/flags.png) -312px -216px;
}
.flag-PT {
    background: url(/flags.png) -312px -240px;
}
.flag-PW {
    background: url(/flags.png) -312px -264px;
}
.flag-PY {
    background: url(/flags.png) -312px -288px;
}
.flag-QA {
    background: url(/flags.png) -0 -312px;
}
.flag-RE {
    background: url(/flags.png) -24px -312px;
}
.flag-RO {
    background: url(/flags.png) -48px -312px;
}
.flag-RS {
    background: url(/flags.png) -72px -312px;
}
.flag-RU {
    background: url(/flags.png) -96px -312px;
}
.flag-RW {
    background: url(/flags.png) -120px -312px;
}
.flag-SA {
    background: url(/flags.png) -144px -312px;
}
.flag-SB {
    background: url(/flags.png) -168px -312px;
}
.flag-SC {
    background: url(/flags.png) -192px -312px;
}
.flag-SD {
    background: url(/flags.png) -216px -312px;
}
.flag-SE {
    background: url(/flags.png) -240px -312px;
}
.flag-SG {
    background: url(/flags.png) -264px -312px;
}
.flag-SH {
    background: url(/flags.png) -288px -312px;
}
.flag-SI {
    background: url(/flags.png) -312px -312px;
}
.flag-SK {
    background: url(/flags.png) -336px -0;
}
.flag-SL {
    background: url(/flags.png) -336px -24px;
}
.flag-SM {
    background: url(/flags.png) -336px -48px;
}
.flag-SN {
    background: url(/flags.png) -336px -72px;
}
.flag-SO {
    background: url(/flags.png) -336px -96px;
}
.flag-SR {
    background: url(/flags.png) -336px -120px;
}
.flag-SS {
    background: url(/flags.png) -336px -144px;
}
.flag-ST {
    background: url(/flags.png) -336px -168px;
}
.flag-SV {
    background: url(/flags.png) -336px -192px;
}
.flag-SX {
    background: url(/flags.png) -336px -216px;
}
.flag-SY {
    background: url(/flags.png) -336px -240px;
}
.flag-SZ {
    background: url(/flags.png) -336px -264px;
}
.flag-TC {
    background: url(/flags.png) -336px -288px;
}
.flag-TD {
    background: url(/flags.png) -336px -312px;
}
.flag-TF {
    background: url(/flags.png) -0 -336px;
}
.flag-TG {
    background: url(/flags.png) -24px -336px;
}
.flag-TH {
    background: url(/flags.png) -48px -336px;
}
.flag-TJ {
    background: url(/flags.png) -72px -336px;
}
.flag-TK {
    background: url(/flags.png) -96px -336px;
}
.flag-TL {
    background: url(/flags.png) -120px -336px;
}
.flag-TM {
    background: url(/flags.png) -144px -336px;
}
.flag-TN {
    background: url(/flags.png) -168px -336px;
}
.flag-TO {
    background: url(/flags.png) -192px -336px;
}
.flag-TR {
    background: url(/flags.png) -216px -336px;
}
.flag-TT {
    background: url(/flags.png) -240px -336px;
}
.flag-TV {
    background: url(/flags.png) -264px -336px;
}
.flag-TW {
    background: url(/flags.png) -288px -336px;
}
.flag-TZ {
    background: url(/flags.png) -312px -336px;
}
.flag-UA {
    background: url(/flags.png) -336px -336px;
}
.flag-UG {
    background: url(/flags.png) -360px -0;
}
.flag-UM {
    background: url(/flags.png) -360px -24px;
}
.flag-US {
    background: url(/flags.png) -360px -48px;
}
.flag-UY {
    background: url(/flags.png) -360px -72px;
}
.flag-UZ {
    background: url(/flags.png) -360px -96px;
}
.flag-VA {
    background: url(/flags.png) -360px -120px;
}
.flag-VC {
    background: url(/flags.png) -360px -144px;
}
.flag-VE {
    background: url(/flags.png) -360px -168px;
}
.flag-VG {
    background: url(/flags.png) -360px -192px;
}
.flag-VI {
    background: url(/flags.png) -360px -216px;
}
.flag-VN {
    background: url(/flags.png) -360px -240px;
}
.flag-VU {
    background: url(/flags.png) -360px -264px;
}
.flag-WF {
    background: url(/flags.png) -360px -288px;
}
.flag-WS {
    background: url(/flags.png) -360px -312px;
}
.flag-YE {
    background: url(/flags.png) -360px -336px;
}
.flag-YT {
    background: url(/flags.png) -0 -360px;
}
.flag-ZA {
    background: url(/flags.png) -24px -360px;
}
.flag-ZM {
    background: url(/flags.png) -48px -360px;
}
.flag-ZW {
    background: url(/flags.png) -72px -360px;
}
