@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

html, body, #__nuxt, #__layout {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #2b2e3d;
  width: 100%;
  height: 100%;
  overflow: auto;
  margin: 0;
  line-height: 1.43;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  margin: 0;
  font-size: inherit;
  font-family: Poppins, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover, &:active {
    color: inherit;
    text-decoration: none;
  }
}

input {
  font-family: inherit;
}

ul {
  margin: 0;
}

h1, .h1 {
  font-size: 3rem;
  font-weight: 700;

  @include media-breakpoint-down(md) {
    font-size: calc(1.425rem + 2.3vw);
  }
}

h2, .h2 {
  font-size: 2.875rem;
  font-weight: 700;

  @include media-breakpoint-down(md) {
    font-size: calc(1.325rem + 2.2vw);
  }
}

h3, .h3 {
  font-size: 2rem;
  font-weight: 700;

  @include media-breakpoint-down(md) {
    font-size: calc(1.225rem + 1.1vw)
  }
}

h4, .h4 {
  font-size: 1.5rem;
  font-weight: 700;

  @include media-breakpoint-down(md) {
    font-size: calc(1.125rem + 0.6vw)
  }
}

.main-width {
  width: 1128px;
  margin: auto;
}

.link {
  display: inline;
  cursor: pointer;
  text-decoration: none;

  &--white {
    color: #fff;
    padding: 6px 0;
    border-bottom: 1px solid transparent;
    transition: border-color 250ms;
    text-decoration: none;

    &:hover, &.nuxt-link-exact-active {
      text-decoration: none;
      color: #fff;
      border-color: #fff;
    }
  }

  &--primary {
    color: #e84b3c;
    border-bottom: 1px solid transparent;
    transition: border-color 250ms;

    &:hover, &.nuxt-link-exact-active {
      color: #e84b3c;
      border-color: #e84b3c;
    }
  }

  &--black {
    color: #000;
    padding: 6px 0;
    border-bottom: 1px solid transparent;
    transition: border-color 250ms;
    text-decoration: none;

    &:hover, &.nuxt-link-exact-active {
      text-decoration: none;
      color: #000;
      border-color: #000;
    }
  }
}

.button {
  display: inline-block;
  font-size: 24px;
  padding: 0 36px;
  height: 72px;
  line-height: 72px;
  color: #fff;
  border-radius: 3px;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  border: none;
  outline: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  &:hover {
    opacity: 0.9;
    color: #fff;
  }

  &--sm {
    height: 32px;
    padding: 0 16px;
    line-height: 32px;
    font-size: 14px;
    min-width: auto;
  }

  &--md {
    height: 36px;
    padding: 0 18px;
    line-height: 36px;
    font-size: 14px;
    min-width: auto;
  }

  &--lg {
    height: 46px;
    padding: 0 24px;
    line-height: 46px;
    font-size: 16px;
    min-width: auto;
  }

  &#{&}--block {
    display: block;
    width: 100%;
  }

  &#{&}--white {
    background: #fff;
    color: #000;
  }

  &#{&}--outline {
    background: #fff;
    color: #000;
    border: 1px solid #000;
  }

  &#{&}--primary {
    background: #e84b3c;
  }

  &#{&}--secondary {
    background: #4fa9fb;
  }

  &#{&}--disabled {
    opacity: 0.5;
  }
}

.menu {

  &__item {
    font-size: 12px;
    cursor: pointer;
  }
}
