<template>
  <div class="fs-alert">
    <i class="fs-alert__icon fas fa-check"></i>
    <div class="fs-alert__message">
      {{ message }}
    </div>
  </div>
</template>

<script>
  export default {
    props: ['message'],
  };
</script>

<style lang="scss" scoped>
  .fs-alert {
    display: flex;
    align-items: center;
    padding: 12px 16px;
    background: rgba(62, 175, 69, 0.06);

    &__icon {
      color: #3eaf45;
      margin-right: 12px;
    }

    &__message {
      font-size: 14px;
    }
  }
</style>
