<template>
  <aside
    :class="componentClass"
    class="app-drawer"
  >
    <div class="app-drawer__container">
      <div
        class="app-drawer__close container"
      >
        <i
          class="fas fa-times"
          @click="onCloseClick"
        />
      </div>
      <div class="app-drawer__content container">
        <div class="app-drawer__forms">
          <div class="app-drawer__info">
            <img src="/fs-logo--dark.svg" alt="logo" width="113">
            <div>
              Your virtual race will be available through the online training platform Final Surge. You must create a Final Surge account in order to access and participate in the virtual event.
              <question-tooltip />
            </div>
          </div>
          <sign-up-form
            v-if="authState === 'register'"
            @switch="switchForms"
            @finish="onClose"
          />
          <sign-in-form
            v-else-if="authState === 'login'"
            :message="authMessage"
            :email="authEmail"
            @email="authEmail = $event"
            @switch="switchForms"
            @finish="onClose"
          />
          <reset-form
            v-else-if="authState === 'reset'"
            :email="authEmail"
            @email="authEmail = $event"
            @switch="switchForms"
            @finish="onResetFinish"
          />
          <spinner v-if="authenticating" />
        </div>
      </div>
    </div>
  </aside>
</template>

<script>
  import QuestionTooltip from '../components/question-tooltip';
  import SignInForm from '../components/sign-in-form';
  import SignUpForm from '../components/sign-up-form';
  import ResetForm from '../components/reset-form';
  import Spinner from '../components/spinner';

  export default {
    components: {
      QuestionTooltip,
      SignInForm,
      SignUpForm,
      ResetForm,
      Spinner,
    },
    props: {
      value: Boolean,
    },
    data() {
      return {
        authState: 'login',
        authEmail: null,
        authMessage: null,
      };
    },
    computed: {
      componentClass() {
        return {
          'app-drawer--open': this.value,
        };
      },
      authenticating() {
        return this.$store.state.authenticating;
      },
    },
    watch: {
      value(value) {
        // if (this.value) {
        //   this.scrollHandler = (event) => {
        //     if (!(this.$el === event.target || this.$el.contains(event.target))) {
        //       this.onCloseClick();
        //       window.removeEventListener('scroll', this.scrollHandler, true);
        //     }
        //   };
        //   window.addEventListener('scroll', this.scrollHandler, true);
        // } else {
        //   window.removeEventListener('scroll', this.scrollHandler, true);
        // }
      },
    },
    methods: {
      onResetFinish() {
        this.authMessage = 'If you have an account, we\'ll email you a reset link.';
        this.authState = 'login';
      },
      onCloseClick() {
        this.resetState();
        this.$emit('input', false);
      },
      switchForms(event) {
        this.authMessage = null;
        this.authState = event.type;
      },
      onClose() {
        this.$emit('input', false);
        this.$emit('finish');
      },
      resetState() {
        this.authMessage = null;
        this.authState = 'login';
        this.authEmail = null;
      },
    },
  };
</script>

<style lang="scss" scoped>
  @import "../node_modules/bootstrap/scss/functions";
  @import "../node_modules/bootstrap/scss/variables";
  @import "../node_modules/bootstrap/scss/mixins";

  .app-drawer {
    position: fixed;
    z-index: 15;
    top: 0;
    left: 100%;
    height: 100%;
    width: calc(480px + (100vw - 1128px) / 2);
    background: #fff;
    transform: translate3d(0, 0, 0);
    transition: transform 300ms ease-in-out;
    overflow: auto;

    &--open {
      transform: translate3d(-100%, 0, 0);
    }

    &__info {
      color: #687586;
      font-size: 14px;
      margin-bottom: 36px;

      img {
        margin-bottom: 12px;
      }
    }

    &__container {
      height: 100%;
      width: 480px;
      padding-left: 42px;
    }

    &__content {
      position: relative;
      margin: -75px auto 0;
      display: flex;
      align-items: center;
      justify-content: stretch;
      padding-bottom: 32px;
      min-height: 100%;
      padding-top: 100px;
    }

    &__close {
      position: relative;
      text-align: right;
      font-size: 24px;
      padding-top: 32px;
      height: 75px;
      z-index: 10;

      i {
        cursor: pointer;
      }
    }

    &__forms {
      position: relative;
      width: 100%;
    }

    @each $breakpoint in map-keys($grid-breakpoints) {
      @if($breakpoint != xs and $breakpoint != sm) {
        @include media-breakpoint-up($breakpoint) {
          width: calc(480px + (100vw - #{map-get($container-max-widths, $breakpoint)}) / 2);
        }
      }
    }

    @include media-breakpoint-down(sm) {
      width: 100%;

      &__container {
        padding-left: 0;
      }

      &__container, &__content {
        width: 100%;
      }
    }
  }
</style>
