<template>
  <validation-observer ref="formValidator" v-slot="{ invalid, valid }" slim>
    <form class="checkout-form" @submit.prevent="onFormSubmit(valid)">
      <input-group label="Add Payment Method">
        <input-row>
          <input-block label="Card Number" :error="errors.card" class="col-12 px-2">
            <div id="stripe-card" class="stripe-control" />
          </input-block>
        </input-row>
        <input-row>
          <validation-provider
            v-slot="{ errors }"
            name="Name"
            rules="required"
            slim
          >
            <input-block label="Name on the Card" :error="errors[0]" class="col-12 col-lg px-2">
              <el-input v-model="inputs.name" placeholder="Name" name="name" />
            </input-block>
          </validation-provider>
          <input-block label="Expiry Date" :error="errors.expiry" class="col-6 col-lg-auto px-2">
            <div id="stripe-expiry" class="stripe-control" />
          </input-block>
          <input-block label="CVV / CVC" :error="errors.cvc" class="col-6 col-lg-auto px-2">
            <div id="stripe-cvc" class="stripe-control" />
          </input-block>
        </input-row>
        <input-row>
          <div class="col-12 col-md px-2"></div>
          <input-block label="Price" error="" right class="col-12 col-md-auto px-2">
            <span class="checkout-form__price">${{ totalPrice }}</span>
          </input-block>
        </input-row>
      </input-group>
      <div class="checkout-form__button">
        <div class="checkout-form__error">
          {{ serverError }}
        </div>
        <button
          :class="{ 'button--disabled': invalid || !isStripeValid }"
          type="submit"
          class="button button--block button--primary"
        >
          Pay ${{ totalPrice }}
        </button>
        <div
          v-if="countryVat"
          class="checkout-form__policy"
        >
          Selected country includes VAT ({{ countryVat }}%)
        </div>
      </div>
      <spinner v-if="loading" />
    </form>
  </validation-observer>
</template>

<script>
  import InputBlock from '../components/input-block';
  import InputGroup from '../components/input-group';
  import InputRow from '../components/input-row';
  import Spinner from '../components/spinner';
  import { loadStripe } from '@stripe/stripe-js';
  import { ValidationProvider, ValidationObserver } from 'vee-validate';
  import moment from 'moment';

  export default {
    components: {
      ValidationProvider,
      ValidationObserver,
      InputBlock,
      InputGroup,
      InputRow,
      Spinner,
    },
    props: {
      price: Number,
      registrationData: Object,
      raceData: Object,
    },
    data() {
      return {
        inputs: {
          card: null,
          name: null,
          expiry: null,
          cvc: null,
        },
        errors: {
          card: '',
          expiry: '',
          cvc: '',
        },
        serverError: '',
        stripeToken: null,
        loading: false,
        totalPrice: null,
        countryVat: 0,
      };
    },
    computed: {
      countries() {
        return this.$store.state.countries;
      },
      isStripeValid() {
        return this.inputs.card &&
          this.inputs.expiry &&
          this.inputs.cvc;
      },
    },
    created() {
      this.calculateTotalPrice();
    },
    mounted() {
      this.initStripe();
    },
    methods: {
      onCountrySelect() {
        this.calculateTotalPrice();
      },
      findCountryVat() {
        const country = this.countries.find(country => country.key === this.inputs.country);
        if (country.vat_rate) {
          this.countryVat = parseFloat(country.vat_rate);
        } else {
          this.countryVat = 0;
        }
      },
      calculateTotalPrice() {
        // this.findCountryVat();
        // this.totalPrice = parseFloat((this.price + this.price * this.countryVat / 100).toPrecision(12)).toFixed(2);
        this.totalPrice = parseFloat(this.price.toPrecision(12)).toFixed(2);
      },
      async onFormSubmit(isFormValid) {
        if (isFormValid && this.isStripeValid) {
          this.loading = true;
          const result = await this.stripe.createToken(
            this.stripeElements[0],
            { name: this.inputs.name, country: this.inputs.country }
          );

          if (result.error) {
            this.serverError = result.error.message;
          } else if (result.token) {
            this.stripeToken = result.token.id;
          } else {
            this.serverError = 'Could not process Stripe transaction.';
          }

          if (this.stripeToken) {
            const result = (
              await this.$axios.post(
                '/api/registerRace',
                {
                  race_key: this.raceData.key,
                  race_event_key: this.raceData.eventKey,
                  race_event_level_key: this.raceData.levelKey,
                  stripe_token: this.stripeToken,
                  waiver_signature: this.registrationData.signature,
                  is_minor: this.registrationData.minor,
                  guardian_relationship: this.registrationData.minorRelationship,
                  guardian_signature: this.registrationData.minorSignature,
                  date_of_birth: moment({
                    year: this.registrationData.year,
                    month: this.registrationData.month - 1,
                    day: this.registrationData.day,
                  }).toISOString(),
                  gender: this.registrationData.gender,
                  profile_location: {
                    city: this.registrationData.city,
                    region_key: this.registrationData.state,
                    zipcode: this.registrationData.zip,
                    country_key: this.registrationData.country,
                  },
                  tshirt_code: null,
                  tshirt_size: null,
                  shipping_address: null,
                }
              )
            ).data;

            if (!result.success) {
              this.serverError = result.errorDescription ? result.errorDescription : 'Could not process server transaction.';
            } else {
              this.$emit('finish', result.data);
            }
          }
          this.loading = false;
        }
      },
      async initStripe() {
        const stripe = await loadStripe(process.env.stripeKey);
        this.stripe = stripe;
        const stripeElements = stripe.elements({
          fonts: [
            {
              cssSrc: 'https://fonts.googleapis.com/css?family=Roboto:400,700',
            },
          ],
        });
        const elementStyles = {
          base: {
            color: '#606266',
            fontSize: '14px',
            lineHeight: '38px',
            padding: '15px',
            fontWeight: 400,
            fontFamily: 'Roboto, sans-serif',
            '::placeholder': {
              color: '#c0c4cc',
            },
            ':-webkit-autofill': {
              color: '#c0c4cc',
            },
          },
          invalid: {
            color: '#606266',
            '::placeholder': {
              color: '#c0c4cc',
            },
          },
        };
        const elementClasses = {
          invalid: 'stripe-control--invalid',
        };

        const elementIdentifiers = [
          ['cardNumber', '#stripe-card', 'card'],
          ['cardExpiry', '#stripe-expiry', 'expiry'],
          ['cardCvc', '#stripe-cvc', 'cvc'],
        ];

        this.stripeElements = elementIdentifiers.map((identifier) => {
          const [type, domKey, stateKey] = identifier;
          const element = stripeElements.create(type, {
            style: elementStyles,
            classes: elementClasses,
          });
          element.mount(domKey);
          element.on('change', (event) => {
            if (event.error) {
              this.errors[stateKey] = event.error.message;
              this.inputs[stateKey] = null;
            } else {
              this.errors[stateKey] = '';
              this.inputs[stateKey] = event.complete;
            }
          });
          return element;
        });
      },
    },
  };
</script>

<style lang="scss" scoped>
  .checkout-form {
    position: relative;

    &__policy {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      text-align: center;
      color: #687586;
      font-size: 14px;
      font-weight: 500;
      margin: 4px 0 0 0;
    }

    .stripe-control {
      border: 1px solid #DCDFE6;
      border-radius: 4px;
      height: 40px;
      padding: 0 15px;
      min-width: 90px;

      &--invalid {
        border-color: #e84b3c;
      }
    }

    &__price {
      height: 40px;
      line-height: 40px;
      white-space: nowrap;
      font-family: Poppins, sans-serif;
      font-size: 32px;
      font-weight: 700;
      padding-left: 32px;
    }

    &__button {
      position: relative;
      margin: 16px 0;
    }

    &__error {
      font-size: 14px;
      position: absolute;
      width: 100%;
      bottom: 100%;
      text-align: center;
      color: #e84b3c;
      margin: 0 0 4px 0;
    }
  }
</style>
