<template>
  <div class="input-row row no-gutters mx-n2">
    <slot />
  </div>
</template>

<script>
  export default {

  };
</script>

<style lang="scss" scoped>
  .input-row {
    margin: 16px 0 12px;

    .input-block {
      margin: 0 0 12px 0;
    }
  }
</style>
