<template>
  <div
    class="input-block"
    :class="{ 'input-block--right': right, 'input-block--invalid': error }"
  >
    <div
      v-if="label"
      class="input-block__label"
    >
      {{ label }}
    </div>
    <div class="input-block__input">
      <slot />
      <div
        v-if="error"
        class="input-block__error"
      >
        {{ error }}
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    props: {
      label: String,
      error: String,
      right: Boolean,
    },
  };
</script>

<style lang="scss" scoped>
  .input-block {
    $root: &;
    margin: 16px 0 24px;

    &--invalid {

      /deep/ .el-input__inner, /deep/ .el-textarea__inner {
        border-color: #e84b3c;
      }
    }

    &--right {
      text-align: right;
    }

    &__label {
      font-size: 14px;
      color: #687586;
      margin: 0 0 4px 0;
      font-weight: 500;
    }

    &__input {
      position: relative;
    }

    &__error {
      position: absolute;
      top: 100%;
      left: 0;
      font-size: 10px;
      color: #e84b3c;
      width: 100%;
      text-align: right;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    /deep/ .el-select, /deep/ .el-input {
      display: block;
    }
  }
</style>
