<template>
  <div class="input-group">
    <div
      v-if="label"
      class="input-group__label"
    >
      {{ label }}
    </div>
    <div class="input-group__content">
      <slot />
    </div>
  </div>
</template>

<script>
  export default {
    props: {
      label: String,
    },
  };
</script>

<style lang="scss" scoped>
  .input-group {
    margin: 0 0 24px;

    &__label {
      margin: 0 0 16px 0;
      font-weight: 500;
    }

    &__content {
      position: relative;
    }
  }
</style>
