<template>
  <aside
    :class="componentClass"
    class="mobile-navigation"
  >
    <div class="container">
      <div class="mobile-navigation__header">
        <div
          class="mobile-navigation__close"
          @click="onCloseClick"
        >
          <i class="fas fa-times" />
        </div>
      </div>
      <div class="mobile-navigation__content">
        <ul>
          <li
            v-for="link in navigation"
            :key="link.url"
            class="mobile-navigation__link"
          >
            <nuxt-link :to="link.url" class="link link--black" @click.native="onNavClick">
              {{ link.text }}
            </nuxt-link>
          </li>
          <li class="mobile-navigation__link">
            <div
              v-if="authenticatedUser"
              class="auth-user"
            >
              <div class="auth-user__avatar">
                <div class="auth-user__initials">
                  {{ authenticatedUser.initials }}
                </div>
                <div
                  :style="{ backgroundImage: `url(${authenticatedUser.image})` }"
                  class="auth-user__image"
                />
              </div>
              <div class="auth-user__name">
                {{ authenticatedUser.fullName }}
              </div>
              <div class="auth-user__action">
                <div
                  class="button button--outline button--sm"
                  @click="onSignOutClick"
                >
                  Sign Out
                </div>
              </div>
            </div>
            <div
              v-else
              class="link link--black"
              @click="onSignInClick"
            >
              Sign In
            </div>
          </li>
        </ul>
      </div>
    </div>
  </aside>
</template>

<script>

  export default {
    components: {
    },
    props: {
      value: Boolean,
      navigation: Array,
    },
    data() {
      return {
        registrationVisible: false,
        raceUrl: `/race/${this.$route.params.provider}/${this.$route.params.race}/${this.$route.params.event}/`,
        resultsUrl: `/race/${this.$route.params.provider}/${this.$route.params.race}/${this.$route.params.event}/results/`,
      };
    },
    computed: {
      authenticatedUser() {
        const rawUser = this.$store.state.authenticatedUser;
        if (rawUser) {
          return {
            fullName: `${rawUser.first_name} ${rawUser.last_name}`,
            initials: `${rawUser.first_name ? rawUser.first_name[0] : ''}${rawUser.last_name ? rawUser.last_name[0] : ''}`,
            image: rawUser.profile_pic_url?.replace('{size}', '50'),
          };
        }
        return null;
      },
      componentClass() {
        return {
          'mobile-navigation--open': this.value,
        };
      },
      authenticating() {
        return this.$store.state.authenticating;
      },
    },
    methods: {
      onCloseClick() {
        this.$emit('input', false);
      },
      onSignInClick() {
        this.onCloseClick();
        this.$emit('sign-in');
      },
      onSignOutClick() {
        this.onCloseClick();
        this.$emit('sign-out');
      },
      onNavClick() {
        console.log('click');
        this.$emit('input', false);
      },
    },
  };
</script>

<style lang="scss" scoped>
  .mobile-navigation {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 100%;
    height: 100%;
    width: 100%;
    background: #fff;
    transform: translate3d(0, 0, 0);
    transition: transform 300ms ease-in-out;

    &--open {
      transform: translate3d(-100%, 0, 0);
    }

    &__header {
      height: 50px;
      line-height: 50px;
      text-align: right;
    }

    &__close {
      font-size: 24px;
      display: inline-block;
    }

    &__content {

      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }

      li {
        margin: 0;
      }
    }

    &__link {
      padding: 16px 0;
    }

    .auth-user {
      display: flex;
      align-items: center;
      font-size: 14px;

      &__avatar {
        display: inline-block;
        position: relative;
        height: 40px;
        width: 40px;
        border-radius: 100%;
        background: #f8f9fb;
        text-align: center;
        line-height: 40px;
        overflow: hidden;
        margin-right: 12px;
      }

      &__image {
        position: absolute;
        z-index: 5;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: transparent center / cover;
      }

      &__name {
        flex: 1;
        vertical-align: middle;
      }
    }
  }
</style>
