<template>
  <el-popover
    placement="top"
    width="250"
    trigger="hover"
    content="Additionally, Final Surge is where you can log your weekly training, plan future workouts and races, and analyze results. It's free for athletes! If you already have an existing Final Surge account, you can log in below."
  >
    <span class="question-tooltip" slot="reference">
      ?
    </span>
  </el-popover>
</template>

<script>
  export default {
    props: ['tooltip'],
  };
</script>

<style lang="scss" scoped>
  .question-tooltip {
    display: inline-block;
    height: 18px;
    width: 18px;
    border-radius: 100%;
    background: #ecf5ff;
    color: #008fff;
    font-size: 12px;
    text-align: center;
    line-height: 18px;
    cursor: pointer;
  }
</style>
