<template>
  <validation-observer ref="validationObserver" v-slot="{ invalid, handleSubmit, errors }" slim>
    <form class="register-form" @submit.prevent="onFormSubmit">
      <input-group label="Participant Information">
        <div class="register-form__user">
          {{ authenticatedUser.name }} ({{ authenticatedUser.email }})
        </div>
        <div class="register-form__text">
          If you are not {{ authenticatedUser.name }}, <span class="link link--primary" @click="onSignOutClick">click here to log out</span>.
        </div>
      </input-group>
      <input-group>
        <div class="register-form__text">
          All profile fields below are optional. Entering this information will allow us to categorize your race results by gender, age and region.
        </div>
      </input-group>
      <input-group label="Date of Birth">
        <input-row>
          <validation-provider
            name="Month"
            slim
            vid="month"
          >
            <input-block label="Month" class="col-12 col-sm-4 px-2">
              <el-select v-model="inputs.month" placeholder="MMMM" name="month">
                <el-option label="January" value="1" />
                <el-option label="February" value="2" />
                <el-option label="March" value="3" />
                <el-option label="April" value="4" />
                <el-option label="May" value="5" />
                <el-option label="June" value="6" />
                <el-option label="July" value="7" />
                <el-option label="August" value="8" />
                <el-option label="September" value="9" />
                <el-option label="October" value="10" />
                <el-option label="November" value="11" />
                <el-option label="December" value="12" />
              </el-select>
            </input-block>
          </validation-provider>
          <validation-provider
            v-slot="{ errors }"
            name="Day"
            rules="numeric|date:@year,@month"
            slim
            vid="day"
          >
            <input-block label="Day" :error="errors[0]" class="col-6 col-sm-4 px-2">
              <el-input v-model="inputs.day" placeholder="DD" name="day" />
            </input-block>
          </validation-provider>
          <validation-provider
            v-slot="{ errors }"
            name="Year"
            rules="numeric|range:1920,2020"
            slim
            vid="year"
          >
            <input-block label="Year" :error="errors[0]" class="col-6 col-sm-4 px-2">
              <el-input v-model="inputs.year" placeholder="YYYY" name="year" />
            </input-block>
          </validation-provider>
        </input-row>
      </input-group>
      <input-group label="Gender">
        <input-block class="px-2">
          <el-radio-group v-model="inputs.gender">
            <el-radio :label="'m'" name="gender">
              Male
            </el-radio>
            <el-radio :label="'f'" name="gender">
              Female
            </el-radio>
          </el-radio-group>
        </input-block>
      </input-group>
      <input-group label="Location">
        <input-row>
          <input-block label="Country" class="col-12 col-sm-6 px-2">
            <el-select
              v-model="inputs.country"
              placeholder="Country"
              name="country"
              filterable
              autocomplete="def"
              @input="onCountryInput"
            >
              <el-option
                v-for="country in countries"
                :key="country.key"
                :value="country.key"
                :label="`${country.abbreviation} - ${country.name}`"
              />
            </el-select>
          </input-block>
          <input-block label="City" class="col-12 col-sm-6 px-2">
            <el-input v-model="inputs.city" placeholder="City" name="city" />
          </input-block>
        </input-row>
        <input-row>
          <input-block label="State" class="col-12 col-sm-6 px-2">
            <el-select
              v-model="inputs.state"
              placeholder="State"
              name="state"
              filterable
              autocomplete="abc"
            >
              <el-option
                v-for="state in states"
                :key="state.key"
                :value="state.key"
                :label="`${state.abbreviation} - ${state.name}`"
              />
            </el-select>
          </input-block>
          <input-block label="Zip/Postal" class="col-12 col-sm-6 px-2">
            <el-input v-model="inputs.zip" placeholder="Zip/Postal" name="zip" />
          </input-block>
        </input-row>
      </input-group>
      <input-group label="Waiver and Release of Claims and Liability">
        <input-block error="">
          <el-input
            v-model="waiver"
            type="textarea"
            resize="none"
            :rows="5"
            placeholder="Waiver"
            name="waiver"
            readonly
          />
        </input-block>
        <validation-provider
          v-slot="{ errors }"
          name="Digital Signature"
          rules="required"
          slim
          vid="signature"
        >
          <input-block label="Digital Signature" :error="errors[0]">
            <el-input v-model="inputs.signature" placeholder="Digital Signature" name="signature" />
          </input-block>
        </validation-provider>
      </input-group>
      <input-group>
        <validation-provider
          name="test"
          rules="required"
          slim
          vid="test"
        >
          <el-checkbox v-model="inputs.minor" label="Check this box if you are under 18 years of age" name="test" />
        </validation-provider>
      </input-group>
      <input-group
        v-if="inputs.minor"
        label="Parent/Guardian Waiver for Minors"
      >
        <input-block error="">
          <el-input
            v-model="minorWaiver"
            type="textarea"
            resize="none"
            :rows="4"
            placeholder="Waiver"
            name="minorWaiver"
            readonly
          />
        </input-block>
        <validation-provider
          v-slot="{ errors }"
          name="Relationship to Minor"
          :rules="`${inputs.minor ? 'required' : ''}`"
          slim
          vid="minor-relationship"
        >
          <input-block label="Relationship to Minor" class="col-12 px-0" :error="errors[0]">
            <el-input v-model="inputs.minorRelationship" placeholder="Relationship to Minor" name="minor-relationship" />
          </input-block>
        </validation-provider>
        <validation-provider
          v-slot="{ errors }"
          name="Digital Signature"
          :rules="`${inputs.minor ? 'required' : ''}`"
          slim
          vid="minor-signature"
        >
          <input-block label="Digital Signature" class="col-12 px-0" :error="errors[0]">
            <el-input v-model="inputs.minorSignature" placeholder="Digital Signature" name="minor-signature" />
          </input-block>
        </validation-provider>
      </input-group>

      <div class="register-form__button">
        <div class="sign-up-form__error sign-up-form__error--top">
          {{ serverError }}
        </div>
        <button
          type="submit"
          class="button button--block button--primary"
        >
          Proceed to Checkout
        </button>
      </div>

    </form>
  </validation-observer>
</template>

<script>
  import InputBlock from '../components/input-block';
  import InputGroup from '../components/input-group';
  import InputRow from '../components/input-row';
  import { ValidationProvider, ValidationObserver } from 'vee-validate';
  import moment from 'moment';

  export default {
    components: {
      ValidationProvider,
      ValidationObserver,
      InputBlock,
      InputGroup,
      InputRow,
    },
    props: {
      waiver: String,
    },
    data() {
      const profile = this.$store.state.authenticatedUserProfile;
      const birthdate = moment(profile.birthday);
      const country = profile.country_key;
      const state = profile.state_key;
      const city = profile.city;
      const gender = profile.gender;
      const zip = profile.postal_code;
      let month = null;
      let day = null;
      let year = null;

      if (birthdate.isValid()) {
        month = (birthdate.month() + 1).toString();
        day = birthdate.date().toString();
        year = birthdate.year().toString();
      }

      return {
        inputs: {
          month,
          day,
          year,
          gender,
          country,
          city,
          state,
          zip,
          signature: null,
          minor: false,
          minorSignature: null,
          minorRelationship: null,
        },
        states: [],
        serverError: '',
        raceUrl: `/race/${this.$route.params.provider}/${this.$route.params.race}/${this.$route.params.event}/`,
      };
    },
    computed: {
      countries() {
        return this.$store.state.countries;
      },
      authenticatedUser() {
        const rawUser = this.$store.state.authenticatedUser;
        if (rawUser) {
          return {
            name: `${rawUser.first_name} ${rawUser.last_name}`,
            email: rawUser.email,
          };
        }
        return null;
      },
      minorWaiver() {
        return `I hereby certify that I am the parent or guardian of ${this.authenticatedUser.name}, named above, and do hereby give my consent without reservation to the foregoing on behalf of the individual(s).`;
      },
    },
    mounted() {
      this.onCountryInput(this.inputs.country, true);
    },
    methods: {
      async onCountryInput(value, dontChange = false) {
        if (!dontChange) {
          this.inputs.state = null;
        }
        if (value) {
          this.states = await this.$store.dispatch('fetchStates', value);
        } else {
          this.states = [];
        }
      },
      async onFormSubmit() {
        const isValid = await this.$refs.validationObserver.validate();
        if (isValid) {
          this.$emit('finish', this.inputs);
        } else {
          const inputs = this.$refs.validationObserver.fields;
          const inputsArray = Object.values(inputs);
          const invalidInput = inputsArray.find(input => input.invalid);
          if (invalidInput) {
            const domInput = document.querySelector(`[name=${invalidInput.id}]`);
            domInput.scrollIntoView({ behavior: 'smooth', block: 'center', inline: 'center' });
          }
        }
      },
      async onSignOutClick() {
        await this.$axios.get('/api/logout');
        location = this.raceUrl;
      },
    },
  };
</script>

<style lang="scss" scoped>
  .register-form {

    &__user {
      font-family: Poppins, sans-serif;
      font-size: 20px;
    }

    &__text {
      color: #687586;
      font-size: 14px;
    }

    &__policy {
      color: #687586;
      font-size: 14px;
      margin: 24px 0 40px 0;
    }

    &__button {
      margin-top: 36px;
    }
  }
</style>
