<template>
  <validation-observer v-slot="{ invalid, handleSubmit }" slim>
    <form class="sign-in-form" @submit.prevent="handleSubmit(onFormSubmit)">
      <div class="sign-in-form__header">
        <h3 class="sign-in-form__title">
          Forgot your password?
        </h3>
        <div
          class="sign-in-form__close link link--primary"
          @click="onCloseClick"
        >
          Back
        </div>
      </div>
      <div class="sign-in-form__info">
        Enter your email address to reset your password.
      </div>
      <div class="sign-in-form__body">
        <validation-provider
          v-slot="{ errors }"
          name="Email"
          rules="required|email"
          slim
        >
          <div class="sign-in-form__block">
            <div class="sign-in-form__label">
              Email
            </div>
            <div class="sign-in-form__input">
              <el-input
                v-model="inputs.email"
                placeholder="Your Email"
                name="email"
                autocomplete="on"
                @input="$emit('email', $event)"
              />
              <div class="sign-in-form__error">
                {{ errors[0] }}
              </div>
            </div>
          </div>
        </validation-provider>
      </div>
      <div class="sign-in-form__footer">
        <div class="sign-up-form__button">
          <button
            :class="{ 'button--disabled': invalid }"
            type="submit"
            class="button button--block button--primary"
          >
            Reset Password
          </button>
        </div>
      </div>
    </form>
  </validation-observer>
</template>

<script>
  import { ValidationProvider, ValidationObserver } from 'vee-validate';

  export default {
    components: {
      ValidationProvider,
      ValidationObserver,
    },
    props: ['email'],
    data() {
      return {
        inputs: {
          email: this.email || null,
        },
      };
    },
    methods: {
      onCloseClick() {
        this.$emit('switch', { type: 'login' });
      },
      async onFormSubmit() {
        await this.$store.dispatch('resetPassword', this.inputs);
        this.$emit('finish');
      },
    },
  };
</script>

<style lang="scss" scoped>
  .sign-in-form {
    width: 100%;

    &__header {
      display: flex;
      align-items: center;
    }

    &__body {
      margin: 36px 0;
    }

    &__title {
      flex: 1;
    }

    &__info {
      color: #687586;
      font-size: 14px;
    }

    &__close {
      font-size: 14px;
    }

    &__block {
      margin: 24px 0;
    }

    &__label {
      font-size: 14px;
      color: #687586;
      margin: 0 0 4px 0;
    }

    &__policy {
      color: #687586;
      font-size: 14px;
      width: 288px;
      margin: 24px 0 48px 0;
    }

    &__input {
      position: relative;
    }

    &__error {
      position: absolute;
      top: 100%;
      left: 0;
      font-size: 10px;
      color: #e84b3c;
      width: 100%;
      text-align: right;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
</style>
