<template>
  <validation-observer ref="observer" v-slot="{ invalid, handleSubmit }" slim>
    <form class="sign-up-form" @submit.prevent="handleSubmit(onFormSubmit)">
      <div class="sign-up-form__header">
        <div class="sign-up-form__title">
          Sign Up
        </div>
        <div
          class="sign-up-form__close link link--primary"
          @click="onCloseClick"
        >
          Login To Your Account
        </div>
      </div>
      <div class="sign-up-form__body">
        <validation-provider
          v-slot="{ errors }"
          name="First name"
          rules="required"
          slim
        >
          <div class="sign-up-form__block">
            <div class="sign-up-form__label">
              First Name
            </div>
            <div class="sign-up-form__input">
              <el-input v-model="inputs.firstName" placeholder="Your First Name" />
              <div class="sign-up-form__error">
                {{ errors[0] }}
              </div>
            </div>
          </div>
        </validation-provider>
        <validation-provider
          v-slot="{ errors }"
          name="Last name"
          rules="required"
          slim
        >
          <div class="sign-up-form__block">
            <div class="sign-up-form__label">
              Last Name
            </div>
            <div class="sign-up-form__input">
              <el-input v-model="inputs.lastName" placeholder="Your Last Name" />
              <div class="sign-up-form__error">
                {{ errors[0] }}
              </div>
            </div>
          </div>
        </validation-provider>
        <validation-provider
          v-slot="{ errors }"
          name="Email"
          rules="required|email"
          slim
        >
          <div class="sign-up-form__block">
            <div class="sign-up-form__label">
              Email
            </div>
            <div class="sign-up-form__input">
              <el-input v-model="inputs.email" placeholder="Your Email" />
              <div class="sign-up-form__error">
                {{ errors[0] }}
              </div>
            </div>
          </div>
        </validation-provider>
        <validation-provider
          v-slot="{ errors }"
          name="Password"
          rules="required|password"
          slim
          vid="password"
        >
          <div class="sign-up-form__block">
            <div class="sign-up-form__label">
              Password
            </div>
            <div class="sign-up-form__input">
              <el-input v-model="inputs.password" placeholder="Create Password" type="password" />
              <div class="sign-up-form__error">
                {{ errors[0] }}
              </div>
            </div>
          </div>
        </validation-provider>
        <validation-provider
          v-slot="{ errors }"
          name="Repeat Password"
          rules="required|same:@password"
          slim
          vid="repeatPassword"
        >
          <div class="sign-up-form__block">
            <div class="sign-up-form__label">
              Repeat Password
            </div>
            <div class="sign-up-form__input">
              <el-input v-model="inputs.repeatPassword" placeholder="Repeat Password" type="password" />
              <div class="sign-up-form__error">
                {{ errors[0] }}
              </div>
            </div>
          </div>
        </validation-provider>
        <validation-provider
          v-slot="{ errors }"
          name="Timezone"
          rules="required"
          slim
        >
          <div class="sign-up-form__block">
            <div class="sign-up-form__label">
              Timezone
            </div>
            <div class="sign-up-form__input">
              <el-select v-model="inputs.timezone" filterable placeholder="Select">
                <el-option
                  v-for="item in timezones"
                  :key="item.key"
                  :label="`GMT(${item.gmt_offset}) ${item.name}`"
                  :value="item.key"
                />
              </el-select>
              <div class="sign-up-form__error">
                {{ errors[0] }}
              </div>
            </div>
          </div>
        </validation-provider>
      </div>
      <div class="sign-up-form__footer">
        <div class="sign-up-form__policy">
          By clicking the button below, you agree to the <a class="link link--primary" href="https://www.finalsurge.com/privacyterms" target="_blank">Terms of Use</a> and <a class="link link--primary" href="https://www.finalsurge.com/privacyterms#privacy" target="_blank">Privacy Policy</a>.
        </div>
        <div class="sign-up-form__button">
          <div class="sign-up-form__error sign-up-form__error--top">
            {{ serverError }}
          </div>
          <button
            :class="{ 'button--disabled': invalid }"
            type="submit"
            class="button button--block button--primary"
          >
            Sign Up
          </button>
        </div>
      </div>
    </form>
  </validation-observer>
</template>

<script>
  import { ValidationProvider, ValidationObserver } from 'vee-validate';

  export default {
    components: {
      ValidationProvider,
      ValidationObserver,
    },
    data() {
      return {
        inputs: {
          firstName: null,
          lastName: null,
          email: null,
          password: null,
          repeatPassword: '',
          timezone: '5ce6b768-5425-4dc2-b088-b24ebcf6c979',
        },
        serverError: '',
      };
    },
    computed: {
      timezones() {
        return this.$store.state.timezones;
      },
    },
    mounted() {
      console.log(this.$refs.observer);
    },
    methods: {
      onCloseClick() {
        this.$emit('switch', { type: 'login' });
      },
      async onFormSubmit() {
        this.serverError = '';
        const result = await this.$store.dispatch('registerUser', this.inputs);
        if (!result.success) {
          this.serverError = result.error_description;
        } else {
          this.$emit('finish');
        }
      },
    },
  };
</script>

<style lang="scss">
  .sign-up-form {
    width: 100%;

    &__header {
      display: flex;
      align-items: center;
      margin: 0 0 36px 0;
    }

    &__title {
      flex: 1;
      font-size: 24px;
      font-weight: 700;
    }

    &__close {
      font-size: 14px;
    }

    &__block {
      margin: 24px 0;
    }

    &__label {
      font-size: 14px;
      color: #687586;
      margin: 0 0 4px 0;
    }

    &__policy {
      color: #687586;
      font-size: 14px;
      width: 288px;
      margin: 24px 0 48px 0;
    }

    &__input {
      position: relative;
    }

    &__error {
      position: absolute;
      top: 100%;
      left: 0;
      font-size: 10px;
      color: #e84b3c;
      width: 100%;
      text-align: right;

      &#{&}--top {
        top: auto;
        bottom: 100%;
        text-align: center;
        font-size: 12px;
        margin: 0 0 2px 0;
      }
    }

    &__button {
      position: relative;
    }

    /deep/ .el-select {
      display: block;
    }
  }
</style>
