<template>
  <validation-observer v-slot="{ invalid, handleSubmit }" slim>
    <form class="sign-in-form" @submit.prevent="handleSubmit(onFormSubmit)">
      <div class="sign-in-form__header">
        <div class="sign-in-form__title">
          Sign In
        </div>
        <div
          class="sign-in-form__close link link--primary"
          @click="onCloseClick"
        >
          Create New Account
        </div>
      </div>
      <div
        v-if="message"
        class="sign-in-form__message"
      >
        <alert :message="message" />
      </div>
      <div class="sign-in-form__body">
        <validation-provider
          v-slot="{ errors }"
          name="Email"
          rules="required|email"
          slim
        >
          <div class="sign-in-form__block">
            <div class="sign-in-form__label">
              Email
            </div>
            <div class="sign-in-form__input">
              <el-input
                v-model="inputs.email"
                placeholder="Your Email"
                name="email"
                autocomplete="on"
                @input="$emit('email', $event)"
              />
              <div class="sign-in-form__error">
                {{ errors[0] }}
              </div>
            </div>
          </div>
        </validation-provider>
        <validation-provider
          v-slot="{ errors }"
          name="Password"
          rules="required|min:8"
          slim
        >
          <div class="sign-in-form__block">
            <div class="sign-in-form__label row">
              <span class="col">Password</span>
              <span class="col-auto sign-in-form__sub-label" @click="onResetClick">Forgot password?</span>
            </div>
            <div class="sign-in-form__input">
              <el-input
                v-model="inputs.password"
                type="password"
                placeholder="Your Password"
                name="password"
                autocomplete="on"
              />
              <div class="sign-in-form__error">
                {{ errors[0] }}
              </div>
            </div>
          </div>
        </validation-provider>
      </div>
      <div class="sign-in-form__footer">
        <div class="sign-up-form__button">
          <div class="sign-up-form__error sign-up-form__error--top">
            {{ serverError }}
          </div>
          <button
            :class="{ 'button--disabled': invalid }"
            type="submit"
            class="button button--block button--primary"
          >
            Sign In
          </button>
        </div>
      </div>
    </form>
  </validation-observer>
</template>

<script>
  import Alert from '../components/alert';
  import { ValidationProvider, ValidationObserver } from 'vee-validate';

  export default {
    components: {
      Alert,
      ValidationProvider,
      ValidationObserver,
    },
    props: ['email', 'message'],
    data() {
      return {
        inputs: {
          email: this.email || null,
          password: null,
        },
        serverError: '',
      };
    },
    methods: {
      onResetClick() {
        this.$emit(
          'switch',
          {
            type: 'reset',
            data: this.email,
          }
        );
      },
      onCloseClick() {
        this.$emit('switch', { type: 'register' });
      },
      async onFormSubmit() {
        this.serverError = '';
        const result = await this.$store.dispatch('authenticateUser', this.inputs);
        if (result.success) {
          this.$emit('finish');
        } else {
          this.serverError = result.error_description;
        }
      },
    },
  };
</script>

<style lang="scss" scoped>
  .sign-in-form {
    width: 100%;

    &__header {
      display: flex;
      align-items: center;
    }

    &__message {
      margin: 36px 0;
    }

    &__body {
      margin: 36px 0;
    }

    &__title {
      flex: 1;
      font-size: 24px;
      font-weight: 700;
    }

    &__close {
      font-size: 14px;
    }

    &__block {
      margin: 24px 0;
    }

    &__label {
      font-size: 14px;
      color: #687586;
      margin-bottom: 4px;
    }

    &__sub-label {
      cursor: pointer;
    }

    &__policy {
      color: #687586;
      font-size: 14px;
      width: 288px;
      margin: 24px 0 48px 0;
    }

    &__input {
      position: relative;
    }

    &__error {
      position: absolute;
      top: 100%;
      left: 0;
      font-size: 10px;
      color: #e84b3c;
      width: 100%;
      text-align: right;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
</style>
