<template>
  <form class="success-form">
    <div class="success-form__title">
      <div>Congratulations</div>
      <div>
        <span>{{ authenticatedUser.first_name }}</span>
      </div>
    </div>
    <div class="success-form__text">
      You have successfully completed registration. Please check your email for a registration receipt and additional details regarding the race.
    </div>
    <template v-if="registrationData.confirmation_text">
      <div class="success-form__divider my-3 my-md-4"></div>
      <div class="success-form__text" v-html="registrationData.confirmation_text" />
    </template>
    <template v-if="finalStepActive">
      <div class="success-form__divider my-3 my-md-4"></div>
      <div class="success-form__sub-title">
        Get ready to race!
      </div>
      <div class="success-form__sub-text">
        <p>
          The virtual race has been applied to your calendar on {{ raceData.raceDate }}.
          <template v-if="!raceData.isOneDay">
            If you would prefer to complete your race on another day, you can move the date of your race to any day between {{ raceData.dateFrom }} and {{ raceData.dateTo }}.  This can be done by downloading the Final Surge app and changing the date of your planned race.
          </template>
        </p>
        <p>
          Complete your race by syncing your Garmin, Polar, MapMyRun or other fitness tracking account to the Final Surge app.  View our complete list of <a class="link link--primary" href="https://finalsurge.com/ConnectedApps" target="_blank">Connected Apps</a>.
        </p>
        <p>
          You can also manually enter your race result by updating the planned race on your Final Surge calendar with your completed distance and time.
        </p>
      </div>
      <div class="success-form__buttons">
        <a href="https://itunes.apple.com/us/app/final-surge-mobile/id929796646?ls=1&amp;mt=8" target="_blank">
          <img src="https://finalsurge.com/Images/apps/app-store-icon.png" style="width: 160px;" alt="Download on the App Store">
        </a>
        <a href="https://play.google.com/store/apps/details?id=com.finalsurge.runtracker" target="_blank">
          <img src="https://finalsurge.com/Images/apps/google-play-icon.png" style="width: 150px;" alt="Android App on Google Play">
        </a>
      </div>
    </template>
    <template v-else>
      <div class="success-form__divider my-3 my-md-4"></div>
      <div class="success-form__sub-title">
        Your race registration comes with a training plan
      </div>
      <div class="success-form__sub-text">
        <p>
          Select your training Plan which will be applied to your Final Surge calendar starting {{ raceData.planDate }}.
        </p>
        <p>
          If you do not want the training plan, please click the “skip” button at the bottom of this form.
        </p>
      </div>
      <div
        v-for="plan in raceData.plans"
        :key="plan.PlanKey"
        class="training-plan my-3 my-md-4"
      >
        <div class="training-plan__title">
          {{ plan.Name }}
        </div>
        <div class="training-plan__description">
          {{ plan.Description }}
        </div>
        <div class="training-plan__action">
          <div class="button button--primary button--sm" @click="selectTrainingPlan(plan.PlanKey)">
            Apply Plan
          </div>
        </div>
      </div>
      <div class="success-form__button">
        <div
          class="button button--block button--primary"
          @click="finalStepActive = true"
        >
          Skip
        </div>
      </div>
    </template>
    <div
      v-if="registrationData && showRemoveRegistration"
      class="success-form__button"
    >
      <button
        class="button button--block button--secondary"
        @click="removeRegistration"
      >
        Remove Registration
      </button>
    </div>
  </form>
</template>

<script>
  export default {
    props: {
      raceData: Object,
      registrationData: Object,
    },
    data() {
      return {
        showRemoveRegistration: !process.env.production,
        raceUrl: `/race/${this.$route.params.provider}/${this.$route.params.race}/${this.$route.params.event}/`,
        finalStepActive: !(this.raceData && this.raceData.plans && this.raceData.plans.length && !this.registrationData.plan),
      };
    },
    computed: {
      authenticatedUser() {
        return this.$store.state.authenticatedUser;
      },
    },
    mounted() {
      console.log(this.registrationData);
    },
    methods: {
      removeRegistration() {
        this.$axios.get(
          '/api/data/RaceRegistrationDelete',
          {
            params: {
              race_registration_key: this.registrationData.race_registration_key,
            },
          }
        );
      },
      async selectTrainingPlan(planKey) {
        await this.$axios.get(
          '/api/data/RaceRegistrationSelectPlan',
          {
            params: {
              race_registration_key: this.registrationData.race_registration_key,
              plan_key: planKey,
            },
          }
        );
        this.$message({
          message: 'Plan has been successfully applied to your training calendar.',
          type: 'success',
          duration: 5000,
        });
        this.finalStepActive = true;
      },
    },
  };
</script>

<style lang="scss" scoped>
  .success-form {
    position: relative;

    &__title {
      font-size: 21px;
      font-family: Poppins, sans-serif;
      font-weight: 700;
      margin: 0 0 12px 0;

      span {
        font-size: 26px;
      }
    }

    &__text {
      font-size: 18px;
      margin: 12px 0;
    }

    &__sub-title {
      font-size: 20px;
      font-weight: 700;
      margin: 0 0 12px 0;
    }

    &__sub-text {
      margin: 12px 0;
      font-size: 16px;
      color: #687586;
    }

    &__divider {
      border-bottom: 1px solid #e4e9f1;
    }

    &__button {
      position: relative;
      margin: 52px 0 0 0;
    }

    &__buttons {
      margin: 36px 0 0 0;
      font-size: 0;

      a:first-child {
        margin-right: 16px;
      }

      a:last-child {
        margin: 0;
      }
    }

    .training-plan {
      padding: 24px 30px;
      border: solid 1px #e4e9f1;
      border-radius: 4px;

      &__title {
        font-size: 18px;
        font-weight: 500;
        margin: 0 0 16px 0;
      }

      &__description {
        color: #687586;
        margin: 0 0 24px;
      }
    }
  }
</style>
