<template>
  <nuxt />
</template>

<script>
  export default {
    head: {
      meta: [
        { name: 'viewport', content: 'width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0' },
      ],
      link: [
        { rel: 'stylesheet', href: 'https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap' },
        { rel: 'stylesheet', href: 'https://fonts.googleapis.com/css?family=Poppins:400,500,700&display=swap' },
      ],
    },
  };
</script>

<style lang="scss">
</style>
