<template>
  <div class="default-layout">
    <nav class="default-layout__header">
      <img v-if="race" :src="race.logo">
    </nav>
    <nuxt />
  </div>
</template>

<script>
  export default {
    head: {
      meta: [
        { name: 'viewport', content: 'width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0' },
      ],
      link: [
        { rel: 'stylesheet', href: 'https://fonts.googleapis.com/css?family=Roboto:400,700' },
      ],
    },
    computed: {
      race() {
        return this.$store.state.tempRace;
      },
    },
  };
</script>

<style lang="scss">
  .default-layout {

    &__header {
      display: flex;
      align-items: center;
      height: 112px;
      border-bottom: 1px solid #e6e6e6;
      max-width: 1280px;
      margin: auto;
      padding: 0 64px;
      justify-content: center;

      img {
        height: 100px;
      }
    }
  }
</style>
