<template>
  <main class="private-page">
    <div class="private-page__background"></div>
    <header class="private-page__header container d-none d-md-flex">
      <div class="navigation-account">
        <div
          v-if="authenticatedUser"
          class="auth-user"
        >
          <div class="auth-user__initials">
            {{ authenticatedUser.initials }}
          </div>
          <div
            :style="{ backgroundImage: `url(${authenticatedUser.image})` }"
            class="auth-user__image"
          />
        </div>
      </div>
    </header>
    <section class="private-page__body">
      <nuxt />
    </section>
  </main>
</template>

<script>
  export default {
    head: {
      meta: [
        { name: 'viewport', content: 'width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0' },
      ],
      link: [
        { rel: 'stylesheet', href: 'https://fonts.googleapis.com/css?family=Roboto:400,500,700' },
        { rel: 'stylesheet', href: 'https://fonts.googleapis.com/css?family=Poppins:400,500,700' },
      ],
    },
    middleware: [
      'authentication',
      async function({ store }) {
        await Promise.all([
          store.dispatch('fetchCountries'),
        ]);
      },
    ],
    data() {
      return {
        isAuthOpen: false,
      };
    },
    computed: {
      authenticatedUser() {
        const rawUser = this.$store.state.authenticatedUser;
        if (rawUser) {
          return {
            initials: `${rawUser.first_name ? rawUser.first_name[0] : ''}${rawUser.last_name ? rawUser.last_name[0] : ''}`,
            image: rawUser.profile_pic_url?.replace('{size}', '50'),
          };
        }
        return null;
      },
    },
    methods: {
      onSignInClick() {
        this.isAuthOpen = true;
      },
    },
    mounted() {
      window.onbeforeunload = function(event) {
        const message = 'Are you sure you want to leave this page without completing your race registration?  You will not be entered in this race if you exit now.';
        if (event) {
          event.returnValue = message;
        }
        return message;
      };
    },
  };
</script>

<style lang="scss">
  @import "../node_modules/bootstrap/scss/functions";
  @import "../node_modules/bootstrap/scss/variables";
  @import "../node_modules/bootstrap/scss/mixins";

  .private-page {
    position: relative;
    height: 100%;
    width: 100%;

    &__background {
      position: absolute;
      top: 168px;
      bottom: 100px;
      width: 100%;
      background: url(/banner-3.jpg) center bottom / cover;
    }

    &__header {
      z-index: 10;
      display: flex;
      align-items: center;
      height: 96px;
      min-height: 96px;
      background: transparent;
      font-family: Poppins, sans-serif;
      font-size: 14px;
      justify-content: flex-end;
    }

    &__body {
      min-height: 0;
      width: 100%;
      margin-top: -96px;
      padding-top: 96px;

      @include media-breakpoint-down(sm) {
        margin: 0;
        padding-top: 0;
      }
    }

    .auth-user {
      position: relative;
      height: 40px;
      width: 40px;
      border-radius: 100%;
      background: #f8f9fb;
      text-align: center;
      line-height: 40px;
      overflow: hidden;

      &__image {
        position: absolute;
        z-index: 5;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: transparent center / cover;
      }
    }
  }
</style>
