<template>
  <main class="public-page">
    <header class="container">
      <div class="public-page__header row justify-content-between align-items-center">
        <span class="header-logo col-auto">
          <img src="/fs-logo--light.svg" alt="logo">
        </span>
        <nav class="main-navigation col-auto d-none d-sm-block">
          <ul>
            <li class="main-navigation__link">
              <nuxt-link :to="raceUrl" class="link link--white">
                Race Info
              </nuxt-link>
            </li>
            <li class="main-navigation__link">
              <nuxt-link :to="resultsUrl" class="link link--white">
                Leaderboard & Results
              </nuxt-link>
            </li>
          </ul>
        </nav>
        <div class="col-auto d-none d-sm-block">
          <el-popover
            v-if="authenticatedUser"
            placement="bottom"
            trigger="click"
          >
            <div
              slot="reference"
              class="auth-user"
            >
              <div class="auth-user__initials">
                {{ authenticatedUser.initials }}
              </div>
              <div
                :style="{ backgroundImage: `url(${authenticatedUser.image})` }"
                class="auth-user__image"
              />
            </div>
            <div class="menu">
              <div
                class="menu__item"
                @click="onSignOutClick"
              >
                Sign Out
              </div>
            </div>
          </el-popover>
          <div
            v-else
            class="button button--sm button--white"
            @click="onSignInClick"
          >
            Sign In
          </div>
        </div>
        <div
          class="main-navigation__toggle col-auto d-block d-sm-none"
          @click="onNavigationToggleClick"
        >
          <i class="fas fa-bars" />
        </div>
      </div>
    </header>
    <section class="public-page__body">
      <nuxt />
    </section>
    <footer class="public-page__footer">
      <div class="container">
        <div class="footer-navigation">
          <a href="https://finalsurge.com/" class="footer-logo" target="_blank">
            <img src="/fs-logo--dark.svg" alt="logo">
          </a>
        </div>
        <div class="footer-info">
          <div class="footer-info__text">
            Copyright © 2020 Final Surge LLC. Final Surge and logo are registered trademarks of Final Surge LLC. <a class="link link--primary" href="https://finalsurge.com/PrivacyTerms" target="_blank">Privacy & Terms of Use</a>.
          </div>
          <div class="footer-info__social" />
        </div>
      </div>
    </footer>
    <auth-drawer
      v-model="isAuthOpen"
      @finish="onAuthFinish"
    />
    <mobile-navigation
      v-model="isNavigationOpen"
      :navigation="navigation"
      @sign-in="onSignInClick"
      @sign-out="onSignOutClick"
    />
  </main>
</template>

<script>
  import AuthDrawer from '../components/auth-drawer';
  import MobileNavigation from '../components/mobile-navigation';

  export default {
    components: {
      MobileNavigation,
      AuthDrawer,
    },
    head: {
      meta: [
        { name: 'viewport', content: 'width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0' },
      ],
      link: [
        { rel: 'stylesheet', href: 'https://fonts.googleapis.com/css?family=Roboto:400,700' },
        { rel: 'stylesheet', href: 'https://fonts.googleapis.com/css?family=Poppins:400,700' },
      ],
    },
    middleware: [
      'authentication',
      async function({ store }) {
        await store.dispatch('fetchTimezones');
      },
    ],
    data() {
      const raceUrl = `/race/${this.$route.params.provider}/${this.$route.params.race}/${this.$route.params.event}/`;
      const resultsUrl = `/race/${this.$route.params.provider}/${this.$route.params.race}/${this.$route.params.event}/results/`;
      return {
        isAuthOpen: false,
        isNavigationOpen: false,
        raceUrl,
        resultsUrl,
        navigation: [
          {
            text: 'Race Info',
            url: raceUrl,
          },
          {
            text: 'Leaderboard & Results',
            url: resultsUrl,
          },
        ],
      };
    },
    computed: {
      authenticatedUser() {
        const rawUser = this.$store.state.authenticatedUser;
        if (rawUser) {
          return {
            initials: `${rawUser.first_name ? rawUser.first_name[0] : ''}${rawUser.last_name ? rawUser.last_name[0] : ''}`,
            image: rawUser.profile_pic_url?.replace('{size}', '50'),
          };
        }
        return null;
      },
    },
    provide() {
      return {
        toggleAuthorization: this.onSignInClick,
      };
    },
    methods: {
      onSignInClick() {
        this.isAuthOpen = true;
      },
      onNavigationToggleClick() {
        this.isNavigationOpen = true;
      },
      async onSignOutClick() {
        await this.$axios.get('/api/logout');
        location = location.href;
      },
      onAuthFinish() {
        if (this.$store.state.pendingRedirect) {
          this.$router.push(this.$store.state.pendingRedirect);
          this.$store.commit('setPendingRedirect', null);
        } else {
          location = location.href;
        }
      },
    },
  };
</script>

<style lang="scss" scoped>
  @import "../node_modules/bootstrap/scss/functions";
  @import "../node_modules/bootstrap/scss/variables";
  @import "../node_modules/bootstrap/scss/mixins";

  .public-page {
    height: 100%;
    width: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    &__header {
      position: relative;
      z-index: 10;
      height: 96px;
      min-height: 96px;
      background: transparent;
      font-family: Poppins, sans-serif;
      font-size: 14px;

      .header-logo {
        display: inline-block;
        font-size: 0;

        img {
          width: 171px;
          height: 18px;

          @include media-breakpoint-down(md) {
            width: 100px;
            height: 12px;
          }
        }
      }

      .main-navigation {

        ul {
          padding: 0;
          list-style-type: none;
        }

        &__link {
          display: inline-block;
          margin-right: 15px;

          &:last-child {
            margin: none;
          }
        }

        &__toggle {
          font-size: 16px;
          color: #fff;
          cursor: pointer;
        }
      }

      @include media-breakpoint-down(xs) {
        height: 50px;
        min-height: 50px;
      }
    }

    &__body {
      flex: 1;
    }

    &__footer {
      background: #f8f9fb;

      .footer-navigation {
        display: flex;
        align-items: center;
        padding: 36px 0;

        .footer-logo {
          font-size: 0;
          display: inline-block;

          img {
            width: 171px;
            height: 18px;
          }
        }
      }

      .footer-info {
        display: flex;
        align-items: center;
        padding: 24px 0;
        border-top: 1px solid #d8d8d8;
        font-size: 12px;
        color: #687586;
      }
    }

    .auth-user {
      position: relative;
      height: 40px;
      width: 40px;
      border-radius: 100%;
      background: #f8f9fb;
      text-align: center;
      line-height: 40px;
      overflow: hidden;
      cursor: pointer;

      &__image {
        position: absolute;
        z-index: 5;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: transparent center / cover;
      }
    }
  }
</style>
