<template>
  <div class="contact-us-page container">
    <div class="contact-us-page__header mt-3 mt-md-5 mb-3 mb-md-5">
      <h3 class="mb-2">
        We'd love to hear from you!
      </h3>
      <p>
        If you have any questions about your race registration or how to host a race please don’t hesitate to contact us.
      </p>
    </div>
    <validation-observer ref="validationObserver" v-slot="{ invalid, handleSubmit }" slim>
      <form @submit.prevent="handleSubmit(onFormSubmit)">
        <input-row>
          <validation-provider
            v-slot="{ errors }"
            name="Name"
            rules="required"
            slim
            vid="name"
          >
            <input-block label="Full Name" class="col-12 px-2" :error="errors[0]">
              <el-input v-model="inputs.name" name="name" />
            </input-block>
          </validation-provider>
        </input-row>
        <input-row>
          <validation-provider
            v-slot="{ errors }"
            name="Email"
            rules="required|email"
            slim
            vid="email"
          >
            <input-block label="Email Address" class="col-12 col-sm-6 px-2" :error="errors[0]">
              <el-input v-model="inputs.email" name="email" />
            </input-block>
          </validation-provider>
          <validation-provider
            v-slot="{ errors }"
            name="Subject"
            rules="required"
            slim
            vid="subject"
          >
            <input-block label="Subject" class="col-12 col-sm-6 px-2" :error="errors[0]">
              <el-input v-model="inputs.subject" name="subject" />
            </input-block>
          </validation-provider>
        </input-row>
        <input-row>
          <validation-provider
            v-slot="{ errors }"
            name="Message"
            rules="required"
            slim
            vid="message"
          >
            <input-block label="Message" class="col-12 px-2" :error="errors[0]">
              <el-input v-model="inputs.message" name="message" type="textarea" rows="7" resize="none" />
            </input-block>
          </validation-provider>
        </input-row>
        <div class="row justify-content-end my-3">
          <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <button
              type="submit"
              class="button button--block button--primary"
            >
              Send
            </button>
          </div>
        </div>
        <spinner v-if="submitting" />
      </form>
    </validation-observer>
  </div>
</template>

<script>
  import Spinner from '../components/spinner';
  import InputBlock from '../components/input-block';
  import InputRow from '../components/input-row';
  import { ValidationProvider, ValidationObserver } from 'vee-validate';

  export default {
    components: {
      ValidationProvider,
      ValidationObserver,
      InputBlock,
      InputRow,
      Spinner,
    },
    layout: 'public-new',
    head() {
      return {
        title: 'Contact Us - Final Surge Virtual Racing',
        meta: [
          { hid: 'description', name: 'description', content: 'Contact Us - Final Surge Virtual Racing' },
        ],
      };
    },
    data() {
      return {
        inputs: {
          name: null,
          subject: null,
          email: null,
          message: null,
        },
        serverError: null,
        submitting: false,
      };
    },
    methods: {
      async onFormSubmit() {
        if (!this.submitting) {
          this.submitting = true;
          let service = 'ContactFormSend';
          if (this.$store.state.authenticatedUser) {
            service = 'ContactFormSendAuth';
          }
          await this.$axios.post(
            `/api/data/${service}`,
            {
              name: this.inputs.name,
              email: this.inputs.email,
              category: this.inputs.subject,
              text: this.inputs.message,
              source: 'VR',
            }
          );
          this.$message({
            message: 'Your request has been successfully submitted.',
            type: 'success',
            duration: 5000,
          });
          this.submitting = false;
          this.inputs = {
            name: null,
            subject: null,
            email: null,
            message: null,
          };
          this.$refs.validationObserver.reset();
        }
      },
    },
  };
</script>

<style lang="scss" scoped>
  @import "../node_modules/bootstrap/scss/functions";
  @import "../node_modules/bootstrap/scss/variables";
  @import "../node_modules/bootstrap/scss/mixins";

  .contact-us-page {

    &__header {
      p {
        font-family: Poppins, sans-serif;
      }
    }

    form {
      position: relative;
    }
  }
</style>
