<template>
  <div class="races-page container">
    <template v-if="upcomingRaces && upcomingRaces.length">
      <h3 class="mt-3 mt-md-5 mb-2 mb-md-4">
        Upcoming Virtual Races
      </h3>
      <div class="row">
        <div
          v-for="race in upcomingRaces"
          :key="race.RaceKey"
          class="col-12 col-md-6"
        >
          <a
            :href="raceUrl(race)"
            target="_blank"
          >
            <div class="race-item">
              <div
                class="race-item__image"
                :style="{ backgroundImage: `url(${race.HeroURL })` }"
              />
              <div class="race-item__overlay" />
              <div class="race-item__distance">
                {{ race.Events[0].DistanceDescription }}
              </div>
              <div class="race-item__info">
                <div class="race-item__logo">
                  <div :style="{ backgroundImage: `url(${race.LogoURL })` }"></div>
                </div>
                <div class="race-item__text">
                  <h4>{{ race.Name }}</h4>
                  <div class="race-item__date">
                    {{ raceDate(race) }}
                  </div>
                  <div
                    v-if="race.Events[0].Levels[0].HasPlans"
                    class="race-item__plans"
                  >
                    Includes Training Plans
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </template>
    <template v-if="pastRaces && pastRaces.length">
      <h3 class="mt-3 mt-md-5 mb-2 mb-md-4">
        Past Virtual Races
      </h3>
      <div class="row">
        <div
          v-for="race in pastRaces"
          :key="race.RaceKey"
          class="col-12 col-md-6"
        >
          <a
            :href="raceUrl(race)"
            target="_blank"
          >
            <div class="race-item">
              <div
                class="race-item__image"
                :style="{ backgroundImage: `url(${race.HeroURL })` }"
              />
              <div class="race-item__overlay" />
              <div class="race-item__distance">
                {{ race.Events[0].DistanceDescription }}
              </div>
              <div class="race-item__info">
                <div class="race-item__logo">
                  <div :style="{ backgroundImage: `url(${race.LogoURL })` }"></div>
                </div>
                <div class="race-item__text">
                  <h4>{{ race.Name }}</h4>
                  <div class="race-item__date">
                    {{ raceDate(race) }}
                  </div>
                  <div
                    v-if="race.Events[0].Levels[0].HasPlans"
                    class="race-item__plans"
                  >
                    Includes Training Plans
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </template>
  </div>
</template>

<script>
  import moment from 'moment';

  export default {
    layout: 'public-new',
    head() {
      const title = 'Final Surge Virtual Racing – Find a Race';
      const description = 'Looking to stay motivated and healthy?  Sign-up or host a virtual race including distances of 5k, 10k, half marathon, marathon, triathlon, cycling and more.';
      return {
        title,
        meta: [
          { hid: 'description', name: 'description', content: description },
          { hid: 'og:type', name: 'og:type', property: 'og:type', content: 'website' },
          { hid: 'og:title', name: 'og:title', property: 'og:title', content: title },
          { hid: 'og:image', name: 'og:image', property: 'og:image', content: 'https://finalsurgeracing.com/fs-social-preview.jpg' },
          { hid: 'og:description', name: 'og:description', property: 'og:description', content: description },
          { hid: 'twitter:title', name: 'twitter:title', content: title },
          { hid: 'twitter:description', name: 'twitter:description', content: description },
          { hid: 'twitter:image', name: 'twitter:image', content: 'https://finalsurgeracing.com/fs-social-preview.jpg' },
          { hid: 'twitter:card', name: 'twitter:card', content: 'summary_large_image' },
        ],
      };
    },
    async asyncData({ $axios }) {
      const races = (await $axios.get('api/data/RaceList')).data;
      const upcomingRaces = [];
      const pastRaces = [];
      if (races && races.length) {
        races.forEach((race) => {
          const endDate = moment(race.DateEnd);
          const today = moment();
          if (today > endDate) {
            pastRaces.push(race);
          } else {
            upcomingRaces.push(race);
          }
        });
      }
      return {
        upcomingRaces,
        pastRaces,
      };
    },
    methods: {
      raceUrl(race) {
        return `/race/${race.Provider.URL}/${race.URL}/${race.Events[0].URL}/`;
      },
      raceDate(race) {
        const isOneDay = race.DateStart === race.DateEnd;
        const raceStart = moment(race.DateStart);
        const startMonth = raceStart.month();
        const startYear = raceStart.year();
        const raceEnd = moment(race.DateEnd);
        const endMonth = raceEnd.month();
        const endYear = raceEnd.year();
        const fromPart = `${raceStart.format('MMMM')} ${raceStart.format('Do')}${startYear !== endYear ? ', ' + startYear : ''}`;
        const toPart = `${startMonth !== endMonth ? endMonth.format('MMM') : ''} ${raceEnd.format('Do')}${', ' + endYear}`;
        return isOneDay ? `${raceStart.format('MMMM Do, YYYY')}` : `${fromPart} - ${toPart}`;
      },
    },
  };
</script>

<style lang="scss" scoped>
  @import "../node_modules/bootstrap/scss/functions";
  @import "../node_modules/bootstrap/scss/variables";
  @import "../node_modules/bootstrap/scss/mixins";

  .races-page {

    .race-item {
      $item: &;
      position: relative;
      border-radius: 4px;
      height: 360px;
      margin-bottom: 24px;
      cursor: pointer;
      overflow: hidden;

      @include media-breakpoint-down(md) {
        height: 280px;
        margin-bottom: 16px;
      }

      &:hover {

        .race-item__image {
          transform: scale3d(1.1, 1.1, 1);
        }
      }

      &__image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.1) center / cover no-repeat;
        z-index: 1;
        transform: scale3d(1, 1, 1);
        transition: transform 250ms;
      }

      &__distance {
        position: absolute;
        top: 24px;
        left: 24px;
        height: 56px;
        padding: 0 20px;
        background: #fff;
        border-radius: 4px;
        font-family: Poppins,sans-serif;
        font-size: 20px;
        font-weight: 700;
        color: #303133;
        line-height: 56px;
        z-index: 3;
      }

      &__info {
        position: absolute;
        bottom: 0;
        width: 100%;
        color: #fff;
        display: flex;
        padding: 0 32px 32px;
        z-index: 3;

        @include media-breakpoint-down(md) {
          padding: 0 24px 24px;
        }
      }

      &__logo {
        height: 96px;
        width: 96px;
        padding: 8px;
        margin-right: 24px;
        background: #fff;
        border-radius: 4px;

        @include media-breakpoint-down(md) {
          height: 64px;
          width: 64px;
          padding: 6px;
          margin-right: 16px;
        }

        & > div {
          height: 100%;
          width: 100%;
          background: center / contain no-repeat;
        }
      }

      &__plans {
        font-size: 14px;
        font-weight: 500;
      }

      &__date {
        font-size: 14px;
        margin: 12px 0;

        @include media-breakpoint-down(md) {
          margin: 4px 0;
        }
      }

      &__overlay {
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 2;
        top: 0;
        left: 0;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.54));
      }
    }
  }
</style>
