<template>
  <section class="race-page">
    <header class="race-page__banner">
      <div class="banner container">
        <div class="row text-center text-sm-left">
          <div class="col-12 col-sm-auto">
            <div class="pr-0 pr-md-3 pb-3 pb-sm-0">
              <div class="banner__image">
                <div :style="{ backgroundImage: `url(${race.logo})` }"></div>
              </div>
            </div>
          </div>
          <div class="banner__text col">
            <h1 class="pb-3">
              {{ race.name }}
            </h1>
            <h4>
              {{ race.dateString }}
            </h4>
          </div>
        </div>
      </div>
    </header>
    <article class="race-page__details details container pt-5 pb-2">
      <h4 class="details__title d-none d-lg-block pb-3">
        Virtual Race Details
      </h4>
      <div class="row justify-content-center">
        <div class="col-12 col-lg">
          <div class="row justify-content-between pr-0 pr-lg-5">
            <div class="details__attribute col-6 col-sm-auto pb-5">
              <div class="details__value h1">
                {{ race.distance }}
              </div>
              <div class="details__name">
                Distance
              </div>
            </div>
            <div class="details__attribute col-6 col-sm-auto pb-5">
              <div class="details__value h1">
                {{ race.type }}
              </div>
              <div class="details__name">
                Race Type
              </div>
            </div>
            <div class="details__attribute col-6 col-sm-auto pb-5">
              <div class="details__value h1">
                ${{ race.price }}
              </div>
              <div class="details__name">
                Price
              </div>
            </div>
            <div class="details__attribute col-6 col-sm-auto pb-5">
              <div class="details__value h1">
                {{ race.dateDifferenceValue }}
              </div>
              <div class="details__name">
                {{ race.dateDifferenceName }}
              </div>
            </div>
          </div>
        </div>
        <div class="race-page__action col-12 col-sm-8 col-md-6 col-lg-3 order-first order-lg-last text-center">
          <div
            v-if="race.state === 'closed'"
            class="button button--secondary button--disabled"
          >
            View Results
          </div>
          <div
            v-else-if="race.state === 'waiting'"
            class="button button--primary button--disabled button--block"
          >
            Register
          </div>
          <template v-else-if="race.state === 'open'">
            <template v-if="authenticatedUser">
              <nuxt-link
                v-if="!isRegistered"
                :to="registerUrl"
                class="button button--primary button--block"
              >
                Register
              </nuxt-link>
              <button
                v-else
                class="button button--primary button--disabled button--block"
              >
                Registered
              </button>
            </template>
            <button
              v-else
              class="button button--primary button--block"
              @click="onUnauthorizedClick"
            >
              Register
            </button>
          </template>
          <nuxt-link
            v-else-if="race.state === 'finished'"
            :to="resultsUrl"
            class="button button--secondary button--block"
          >
            View Results
          </nuxt-link>
        </div>
      </div>
    </article>
    <article class="race-page__about about py-4 py-md-5">
      <div class="about__width container">
        <div class="row">
          <div class="about__main col-12 col-md-7 col-lg-9 py-3 py-md-3">
            <div class="about__content">
              <h1>About this race</h1>
              <p v-html="race.description" />
            </div>
            <div
              v-if="race.facebook || race.twitter || race.instagram || race.linkedin"
              class="about__social mt-3 mt-md-5"
            >
              <a
                v-if="race.facebook"
                :href="'https://www.facebook.com/' + race.facebook"
                target="_blank"
              >
                <i class="fab fa-facebook-f" />
              </a>
              <a
                v-if="race.twitter"
                :href="'https://twitter.com/' + race.twitter"
                target="_blank"
              >
                <i class="fab fa-twitter" />
              </a>
              <a
                v-if="race.instagram"
                :href="'https://www.instagram.com/' + race.instagram"
                target="_blank"
              >
                <i class="fab fa-instagram" />
              </a>
              <a
                v-if="race.linkedin"
                :href="'https://www.linkedin.com/' + race.linkedin"
                target="_blank"
              >
                <i class="fab fa-linkedin" />
              </a>
            </div>
          </div>
          <aside
            v-if="race.sponsors.length"
            class="sponsors col-12 col-md-5 col-lg-3 py-5 py-md-3"
          >
            <div class="sponsors__title">
              Race Sponsors
            </div>
            <a
              v-for="sponsor in race.sponsors"
              :key="sponsor.key"
              :style="{ backgroundImage: `url(${ sponsor.image })`}"
              :href="sponsor.link"
              class="sponsors__item my-3 my-md-5"
              target="_blank"
            />
          </aside>
        </div>
      </div>
    </article>
  </section>
</template>

<script>
  import { parseRawRace } from '../../../../../utils/race';

  export default {
    layout: 'public',
    components: {},
    filters: {},
    head() {
      return {
        title: `${this.race.name} - Final Surge Virtual Racing`,
        meta: [
          { hid: 'description', name: 'description', content: `${this.race.name} - Final Surge Virtual Racing` },
        ],
      };
    },
    inject: ['toggleAuthorization'],
    data() {
      return {
        race: null,
        registrations: [],
        registerUrl: null,
        isRegistered: false,
      };
    },
    computed: {
      authenticatedUser() {
        return this.$store.state.authenticatedUser;
      },
    },
    validate({ params }) {
      return params.provider && params.race && params.event;
    },
    async asyncData({ $axios, params, redirect }) {
      const rawRace = (await $axios.get(`/api/race/${params.provider}/${params.race}/${params.event}`)).data;
      if (!rawRace) {
        redirect('/');
      }

      const race = parseRawRace(rawRace);

      const registrations = (
        await $axios.get(
          '/api/data/RaceRegistrations',
          {
            params: {
              race_key: race.key,
              race_event_key: race.eventKey,
              race_registration_key: '',
            },
          }
        )
      ).data;

      return Promise.resolve({
        rawRace,
        race,
        registrations,
        isRegistered: registrations && !!registrations.length,
        registerUrl: `/race/${params.provider}/${params.race}/${params.event}/register/`,
        resultsUrl: `/race/${params.provider}/${params.race}/${params.event}/results/`,
      });
    },
    methods: {
      onUnauthorizedClick() {
        this.$store.commit('setPendingRedirect', this.registerUrl);
        this.toggleAuthorization();
      },
    },
  };
</script>

<style lang="scss">
  @import "../../../../../node_modules/bootstrap/scss/functions";
  @import "../../../../../node_modules/bootstrap/scss/variables";
  @import "../../../../../node_modules/bootstrap/scss/mixins";

  .race-page {
    display: block;

    &__action {

      @include media-breakpoint-down(md) {
        position: absolute;
        top: -36px;
      }
    }

    &__banner {
      width: 100%;
      background: url(/banner-1.jpg) center / cover;
      margin-top: -96px;
      padding-top: 96px;

      .banner {
        color: #fff;
        font-family: Poppins, sans-serif;
        padding-top: 72px;
        padding-bottom: 144px;

        &__image {
          display: inline-block;
          position: relative;
          margin-top: 12px;
          width: 168px;
          height: 168px;
          background: #fff;

          & > div {
            position: absolute;
            top: 12px;
            bottom: 12px;
            left: 12px;
            right: 12px;
            background: center / contain no-repeat;
          }

          @include media-breakpoint-down(xs) {
            margin: 0;
            width: 124px;
            height: 124px;
          }
        }

        &__text {
          max-width: 560px;

          h4 {
            font-weight: 500;
          }
        }
      }

      @include media-breakpoint-down(md) {
        margin-top: -96px;
        padding-top: 96px;

        .banner {
          color: #fff;
          font-family: Poppins, sans-serif;
          padding-top: 64px;
          padding-bottom: 128px;
        }
      }

      @include media-breakpoint-down(xs) {
        padding-top: 50px;
        margin-top: -50px;

        .banner {
          color: #fff;
          font-family: Poppins, sans-serif;
          padding-top: 32px;
          padding-bottom: 64px;
        }
      }
    }

    .details {
      position: relative;

      &__title {
        font-weight: 500;
      }

      &__name {
        font-size: 16px;
        color: #687586;
      }
    }

    .about {
      background-image: linear-gradient(to bottom, #fbfbfb, #fff);

      &__main {

        h1 {
          font-size: 32px;
          font-weight: 700;
          font-family: Poppins, sans-serif;
          margin: 0 0 32px 0;
        }

        p {
          font-size: 18px;
          line-height: 1.5;
          margin: 0;
          white-space: pre-line;
        }
      }

      .sponsors {

        &__title {
          font-size: 20px;
          text-align: center;
          font-family: Poppins, sans-serif;
        }

        &__item {
          display: block;
          background: center / contain no-repeat;
          width: 100%;
          height: 136px;
        }
      }

      &__social {
        font-size: 18px;

        a {
          display: inline-block;
          margin-right: 16px;
          height: 32px;
          width: 32px;
          text-align: center;
          line-height: 32px;
        }
      }
    }
  }
</style>
