<template>
  <div class="register-page pb-3 pb-md-5">
    <div class="register-page__body container">
      <div class="row">
        <div class="col-md-5 d-none d-md-block">
          <div class="register-page__race race-register row py-3 py-sm-0">
            <div class="col-auto col-md-12">
              <div
                v-if="race.logo"
                class="race-logo mb-md-3 mb-lg-4"
              >
                <div class="race-logo__image" :style="{ backgroundImage: `url(${race.logo})` }" />
              </div>
            </div>
            <div class="col col-md-12">
              <h3 class="race-register__title mb-md-2 mb-lg-4">
                Register for {{ race.name }} - {{ race.distance }}
              </h3>
              <div class="align-items-center">
                <div class="race-register__dates mb-md-3 mb-lg-5">
                  {{ race.dateString }}
                </div>
                <div class="race-register__price">
                  <span>Price</span>
                  <div class="h1">
                    ${{ race.price }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 d-block d-md-none py-3 py-sm-0">
          <div class="register-page__race race-register race-register--mobile row align-items-center">
            <div class="col-auto">
              <div
                v-if="race.logo"
                class="race-logo"
              >
                <div class="race-logo__image" :style="{ backgroundImage: `url(${race.logo})` }" />
              </div>
            </div>
            <div class="col col-md-12">
              <h4 class="race-register__title">
                Register for {{ race.name }}  - {{ race.distance }}
              </h4>
              <div class="row race-register__sub-title align-items-end">
                <div class="col">
                  {{ race.dateString }}
                </div>
                <div class="col-auto">
                  <span>Price</span>
                  <b>${{ race.price }}</b>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-7">
          <div class="register-page__form race-form">
            <div
              v-if="step !== 'success'"
              class="race-form__header py-3 py-md-4 px-0 px-sm-2 px-md-4"
            >
              <div class="race-form__steps">
                <template v-if="step !== 'success'">
                  <div
                    class="race-form__step"
                    :class="{ 'race-form__step--active': step === 'registration'}"
                  >
                    1. Registration
                  </div>
                  <div class="race-form__step">
                    <i class="fas fa-chevron-right" />
                  </div>
                  <div
                    class="race-form__step"
                    :class="{ 'race-form__step--active': step === 'checkout'}"
                  >
                    2. Checkout
                  </div>
                </template>
              </div>
            </div>
            <div class="race-form__body py-3 py-md-4 px-0 px-sm-4 px-lg-5">
              <register-form
                v-if="step === 'registration'"
                :waiver="waiver"
                @finish="onRegistrationFinish"
              />
              <checkout-form
                v-else-if="step === 'checkout'"
                :race-data="race"
                :registration-data="registrationData"
                :price="race.price"
                @finish="onCheckoutFinish"
              />
              <success-form
                v-else-if="step === 'success'"
                :registration-data="registration"
                :race-data="race"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import RegisterForm from '../../../../../components/register-form';
  import CheckoutForm from '../../../../../components/checkout-form';
  import SuccessForm from '../../../../../components/success-form';
  import { parseRawRace } from '../../../../../utils/race';

  export default {
    components: {
      RegisterForm,
      CheckoutForm,
      SuccessForm,
    },
    layout: 'private',
    middleware({ store, route, redirect }) {
      if (!store.state.authenticatedUser) {
        redirect(`/race/${route.params.provider}/${route.params.race}/${route.params.event}/`);
      }
    },
    head() {
      return {
        title: `${this.race.name} - Final Surge Virtual Racing`,
        meta: [
          { hid: 'description', name: 'description', content: `${this.race.name} - Final Surge Virtual Racing` },
        ],
      };
    },
    validate({ params }) {
      return params.provider && params.race && params.event;
    },
    data() {
      return {
        step: 'registration',
        waiver: null,
        race: null,
        registrationData: null,
        registration: null,
        isRegistered: false,
      };
    },
    async asyncData({ $axios, params, redirect }) {
      const rawRace = (await $axios.get(`/api/race/${params.provider}/${params.race}/${params.event}`)).data;
      if (!rawRace) {
        redirect('/');
        return false;
      }
      const race = parseRawRace(rawRace);

      const registrations = (
        await $axios.get(
          '/api/data/RaceRegistrations',
          {
            params: {
              race_key: race.key,
              race_event_key: race.eventKey,
              race_registration_key: '',
            },
          }
        )
      ).data;

      const isRegistered = registrations && registrations.length;

      return {
        step: isRegistered ? 'success' : 'registration',
        waiver: rawRace.Waiver,
        rawRace,
        race,
        isRegistered,
        registration: isRegistered ? registrations[0] : null,
      };
    },
    methods: {
      onRegistrationFinish(data) {
        this.registrationData = data;
        this.step = 'checkout';
      },
      onCheckoutFinish(data) {
        this.step = 'success';
        this.registration = data;
      },
    },
  };
</script>

<style lang="scss">
  @import "../../../../../node_modules/bootstrap/scss/functions";
  @import "../../../../../node_modules/bootstrap/scss/variables";
  @import "../../../../../node_modules/bootstrap/scss/mixins";

  .register-page {
    display: block;
    position: relative;
    height: 100%;

    .race-logo {
      position: relative;
      height: 168px;
      width: 168px;
      border-radius: 10px;
      background: #fff;

      @include media-breakpoint-down(sm) {
        height: 124px;
        width: 124px;
      }

      @include media-breakpoint-down(xs) {
        height: 64px;
        width: 64px;
      }

      &__image {
        position: absolute;
        top: 12px;
        left: 12px;
        right: 12px;
        bottom: 12px;
        background: center / contain no-repeat;
      }
    }

    .race-register {

      &__dates {
        font-size: 20px;
        font-weight: 500;
      }

      &__price {

        span {
          color: #687586;
          font-size: 16px;
        }
      }

      &__sub-title {
        font-size: 12px;
        color: #687586;

        b {
          color: #2b2e3d;
          font-size: 18px;
        }
      }
    }

    .race-form {
      border: solid 1px #e4e9f1;
      border-radius: 6px;
      box-shadow: 0 4px 6px 0 rgba(229, 229, 229, 0.5);
      background: #fff;

      @include media-breakpoint-down(xs) {
        border-radius: 0;
        border-left: none;
        border-right: none;
        box-shadow: none;
        margin: 0 -15px;

        &__header, &__body {
          padding-left: 15px !important;
          padding-right: 15px !important;
        }
      }

      &__header {
        border-bottom: solid 1px #e4e9f1;
      }

      &__body {
        width: 100%;
      }

      &__steps {
        display: flex;
        align-items: center;
        justify-content: space-around;
      }

      &__step {
        font-weight: 500;
        color: #687586;
        cursor: pointer;

        &--active {
          color: #e84b3c;
        }

        i {
          font-size: 12px;
        }
      }
    }
  }
</style>
