<template>
  <section class="results-page">
    <header class="results-page__header">
      <div class="results-page__header-content">
        <div class="results-page__race row align-items-center justify-content-center">
          <div class="col-12 col-md-auto">
            <nuxt-link
              v-if="race.logo"
              :to="raceUrl"
              class="results-page__logo"
            >
              <div :style="{ backgroundImage: `url(${race.logo})` }"></div>
            </nuxt-link>
          </div>
          <div class="results-page__info col-12 col-md-auto">
            <h1 class="results-page__heading">
              {{ pageHeading }}
            </h1>
            <h2 class="results-page__sub-heading">
              Results are updated as participants complete their race.
            </h2>
          </div>
        </div>
        <article class="top-finishers">
          <div
            v-for="(record, index) in topResults"
            :key="index"
            class="top-finisher"
          >
            <img :src="`/place-${ index + 1 }.svg`" class="top-finisher__icon">
            <div class="top-finisher__info">
              <div class="top-finisher__name">
                {{ record.name }}
              </div>
              <div class="top-finisher__time">
                <span>{{ record.time }}</span> <span>{{ record.pace }}</span>
              </div>
            </div>
          </div>
        </article>
        <div v-if="!topResults.length" class="results-page__empty">
          <template v-if="race.state === 'finished'">
            No participants found in the selected division.
          </template>
          <template v-else>
            This race has not yet started. Please check back soon for results.
          </template>
        </div>
      </div>
    </header>
    <main class="results-page__list">
      <div class="results-page__filters">
        <div class="results-page__groups">
          <div class="input">
            <div class="input__label">
              GENDER
              <span class="input__clear" @click="filterGender = null">Clear</span>
            </div>
            <el-select v-model="filterGender" placeholder="Select a Gender" clearable>
              <el-option
                label="Male"
                value="M"
              />
              <el-option
                label="Female"
                value="F"
              />
            </el-select>
          </div>
          <div class="input">
            <div class="input__label">
              DIVISION
              <span class="input__clear" @click="filterAge = null">Clear</span>
            </div>
            <el-select v-model="filterAge" placeholder="Select a Group" clearable>
              <el-option
                v-for="group in ageGroups"
                :key="group.key"
                :label="group.label"
                :value="group.key"
              />
            </el-select>
          </div>
        </div>
        <div class="results-page__search">
          <div class="input">
            <div class="input__label">
              SEARCH
              <span class="input__clear" @click="filterSearch = null">Clear</span>
            </div>
            <el-input v-model="filterSearch" placeholder="Input a Search Term" clearable>
              <el-button slot="prepend" icon="el-icon-search" />
            </el-input>
          </div>
        </div>
      </div>
      <div class="results-page__table-container">
        <table class="results-page__table">
          <thead>
            <tr>
              <th>Rank</th>
              <th>Name</th>
              <th>Time</th>
              <th>
                <el-select v-model="unitSystem" class="results-page__system" @input="changeUnitSystem($event === 'metric')">
                  <el-option
                    label="Pace /mi"
                    value="imperial"
                  />
                  <el-option
                    label="Pace /km"
                    value="metric"
                  />
                </el-select>
              </th>
              <th>Age</th>
              <th>Gender Rank</th>
              <th>Division Rank</th>
            </tr>
          </thead>
          <tbody>
            <tr
              v-for="(record, index) in filteredResults"
              :key="index"
            >
              <td>{{ record.place }}</td>
              <td>
                <div>{{ record.name }}</div>
                <div>
                  <i v-if="record.country" class="flag" :class="`flag-${record.country}`" />
                  <span>{{ record.region }}</span>
                </div>
              </td>
              <td>{{ record.time }}</td>
              <td>{{ record.pace }}</td>
              <td>{{ record.age }}</td>
              <td>
                <div>{{ record.placeGender }}</div>
                <div><span>{{ record.gender }}</span></div>
              </td>
              <td>
                <div>{{ record.placeAge }}</div>
                <div><span>{{ record.ageGroup }}</span></div>
              </td>
            </tr>
          </tbody>
        </table>
        <div v-if="!filteredResults.length" class="results-page__empty">
          <template v-if="race.state === 'finished'">
            No participants found in the selected division.
          </template>
          <template v-else>
            This race has not yet started. Please check back soon for results.
          </template>
        </div>
      </div>
    </main>
  </section>
</template>

<script>
  import AgeGroups from '../../../../../data/age-groups.json';
  import { parseRawRace } from '../../../../../utils/race';

  const formatTime = function(durationSeconds) {
    const prefix = function(num) {
      return ('00' + num).slice(-2);
    };
    const time = parseFloat(durationSeconds).toFixed(3);
    const minutes = Math.floor(time / 60) % 60;
    const hours = Math.floor(time / 3600);
    const seconds = Math.floor(time - hours * 3600 - minutes * 60);
    return `${hours ? hours + ':' : ''}${hours ? prefix(minutes) : minutes}:${prefix(seconds)}`;
  };

  const calculatePace = function(distance, time, isMetricSystem) {
    return (isMetricSystem ? 1000 : 1609.34) * time / distance;
  };

  const formatPace = function(durationSeconds, isMetricSystem) {
    return `${formatTime(durationSeconds)}/${isMetricSystem ? 'km' : 'mi'}`;
  };

  const findAgeGroup = function(age) {
    for (let i = 0; i < AgeGroups.length; i++) {
      const group = AgeGroups[i];
      if (age && group.from <= age && age <= group.to) {
        return group;
      }
    }
    return null;
  };

  export default {
    layout: 'public-black',
    components: {},
    filters: {},
    head() {
      return {
        title: `${this.race.name} - Final Surge Virtual Racing`,
        meta: [
          { hid: 'description', name: 'description', content: `${this.race.name} - Final Surge Virtual Racing` },
        ],
      };
    },
    data() {
      return {
        isMetricSystem: false,
        filterGender: null,
        filterAge: null,
        filterSearch: null,
        ageGroups: AgeGroups,
        results: [],
        unitSystem: 'imperial',
        raceUrl: `/race/${this.$route.params.provider}/${this.$route.params.race}/${this.$route.params.event}/`,
      };
    },
    computed: {
      pageHeading() {
        let heading = '';
        if (this.filterGender || this.filterAge) {
          const ageGroup = AgeGroups[this.filterAge - 1];
          heading = `
          ${this.race.name} - ${this.race.distance} Results:
          ${this.filterGender ? `${this.filterGender === 'M' ? 'Male' : 'Female'}` : ''}${ageGroup ? `${this.filterGender ? ',' : ''} ${ageGroup.label} Age Division` : ''}`;
        } else {
          heading = `${this.race.name} - ${this.race.distance} leaderboard`;
        }
        return heading.toUpperCase();
      },
      filteredResults() {
        if (!this.filterGender && !this.filterAge && !this.filterSearch) {
          return this.results;
        } else {
          return this.results.filter((record) => {
            let isValid = true;

            if (this.filterSearch) {
              const searchTerm = this.filterSearch.toLowerCase();
              if (record.search.indexOf(searchTerm) === -1) {
                isValid = false;
              }
            }

            if (this.filterGender) {
              if (record.gender !== this.filterGender) {
                isValid = false;
              }
            }

            if (this.filterAge) {
              const ageGroup = this.ageGroups[this.filterAge - 1];
              if (!record.age || !(record.age >= ageGroup.from && record.age <= ageGroup.to)) {
                isValid = false;
              }
            }

            return isValid;
          });
        }
      },
      topResults() {
        const finishedResults = this.results.filter(result => result.completed && result.rawTime);
        let results = [];
        if (!this.filterGender && !this.filterAge) {
          results = finishedResults;
        } else {
          results = finishedResults.filter((record) => {
            let isValid = true;

            if (this.filterGender) {
              if (record.gender !== this.filterGender) {
                isValid = false;
              }
            }

            if (this.filterAge) {
              const ageGroup = this.ageGroups[this.filterAge - 1];
              if (!record.age || !(record.age >= ageGroup.from && record.age <= ageGroup.to)) {
                isValid = false;
              }
            }

            return isValid;
          });
        }
        return results.slice(0, 3);
      },
    },
    validate({ params, store }) {
      return params.provider && params.race && params.event;
    },
    async asyncData({ $axios, params, redirect, store }) {
      const rawRace = (await $axios.get(`/api/race/${params.provider}/${params.race}/${params.event}`)).data;
      if (!rawRace) {
        redirect('/');
        return false;
      }
      const race = parseRawRace(rawRace);
      const data = (await $axios.get(`/api/results/${params.provider}/${params.race}/${params.event}`)).data;

      const results = [];
      if (data && data.length) {
        let place = 0;
        const genderPlace = {
          m: 0,
          f: 0,
        };
        const groupsPlace = AgeGroups.reduce((result, group) => {
          result[group.key] = {
            m: 0,
            f: 0,
          };
          return result;
        }, {});

        data.forEach((record, index) => {
          const result = record.LegResults[0];
          place++;

          let currentGenderPlace = '-';
          let currentGender = null;
          const currentAgeGroup = findAgeGroup(record.Age);
          let currentAgePlace = '-';

          if (result) {
            if (result.CompletedDuration) {
              if (record.Gender === 'm') {
                currentGender = 'm';
                genderPlace.m++;
                currentGenderPlace = genderPlace.m;
              } else if (record.Gender === 'f') {
                currentGender = 'f';
                genderPlace.f++;
                currentGenderPlace = genderPlace.f;
              }
              if (currentAgeGroup) {
                if (currentGender) {
                  groupsPlace[currentAgeGroup.key][currentGender]++;
                  currentAgePlace = groupsPlace[currentAgeGroup.key][currentGender];
                }
              }
            }
          }

          const region = [record.Country?.abbreviation, record.Region?.abbreviation, record.City].filter((a) => { return !!a; }).join(', ');
          const search = `${record.FirstName} ${record.LastName} ${record.Country?.name} ${record.Country?.abbreviation} ${record.City} ${record.Region?.name} ${record.Region?.abbreviation}`.toLowerCase();

          results.push({
            completed: !!result,
            place: place,
            placeGender: currentGenderPlace,
            placeAge: currentAgePlace,
            name: `${record.FirstName} ${record.LastName}`,
            time: result ? (result.CompletedDuration ? formatTime(result.CompletedDuration) : '-') : '-',
            rawTime: result ? (result.CompletedDuration) : '-',
            distance: result ? (result.CompletedDistanceMeters) : '-',
            rawDistance: result ? (result.CompletedDistanceMeters) : '-',
            pace: result ? (result.CompletedDuration ? formatPace(calculatePace(result.RequiredDistanceMeters, result.CompletedDuration, false), false) : '-') : '-',
            gender: record.Gender === 'm' ? 'M' : (record.Gender === 'f' ? 'F' : '-'),
            ageGroup: currentAgeGroup ? currentAgeGroup.label : '-',
            age: record.Age,
            search: search,
            country: record.Country?.abbreviation,
            region,
          });
        });
        place++;
      }

      return {
        rawResults: data,
        results,
        unitSystem: 'imperial',
        race,
      };
    },
    methods: {
      changeUnitSystem(isMetricSystem) {
        this.isMetricSystem = isMetricSystem;
        this.results.forEach((record) => {
          record.pace = formatPace(calculatePace(5000, record.rawTime, isMetricSystem), isMetricSystem);
        });
      },
    },
  };
</script>

<style lang="scss" scoped>
  .results-page {

    &__race {
      margin-bottom: 24px;
    }

    &__logo {
      display: block;
      height: 128px;
      width: 128px;
      background: #fff;
      border-radius: 4px;
      padding: 12px;
      margin: auto;

      & > div {
        height: 100%;
        width: 100%;
        background: center / contain no-repeat;
      }
    }

    &__info {
      max-width: 500px;
    }

    &__heading {
      font-size: 18px;
      margin: 0 0 4px;
    }

    &__sub-heading {
      font-size: 14px;
      color: #687586;
      font-weight: 400;
    }

    &__header {
      background: #f8f9fb;
      padding: 24px 0;
    }

    &__header-content {
      max-width: 1280px;
      margin: auto;
      padding: 0 64px 40px;
    }

    &__filters {
      display: flex;
      font-size: 0;
      margin: 0 0 32px 0;
    }

    &__groups {
      flex: 1;

      .input {
        margin-right: 32px;
      }
    }

    &__list {
      max-width: 1280px;
      margin: 48px auto;
      padding: 0 64px;
    }

    &__table {
      width: 100%;
      table-layout: auto;
      border-spacing: 0;
      border-collapse: collapse;

      th {
        font-size: 14px;
        color: #687586;
        padding: 12px 16px;
        text-align: center;

        &:nth-child(2) {
          text-align: left;
        }
      }

      td {
        font-size: 18px;
        padding: 12px 16px;
        height: 68px;
        text-align: center;
        white-space: nowrap;
        line-height: 1;

        span {
          color: #687586;
          font-size: 14px;
          font-weight: 400;
        }

        &:nth-child(1), &:nth-child(3), &:nth-child(6), &:nth-child(7) {
          font-weight: 700;
        }

        &:nth-child(2) {
          text-align: left;
          white-space: normal;
          word-break: break-word;
        }

        &:last-child {
          padding: 12px 16px;
        }
      }

      tr:nth-child(2n + 1) td {
        background: #f8f9fb;
      }
    }

    &__system {
      width: 110px;

      /deep/ .el-input__inner {
        border-color: transparent;
        font-size: 14px;
        color: #687586;
        font-weight: 700;
      }
    }
  }

  .input {
    display: inline-block;
    font-size: 16px;

    &__label {
      font-size: 14px;
      font-weight: 700;
    }
  }

  .top-finishers {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .top-finisher {
    display: flex;
    flex: 0 0 33.333%;
    position: relative;
    padding-right: 36px;
    align-items: center;
    min-width: 0;

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      right: 15px;
      margin-top: -40px;
      height: 80px;
      border-right: 1px solid #d8d8d8;
    }

    &:last-child:after {
      display: none;
    }

    &__info {
      flex: 1;
      min-width: 0;
    }

    &__icon {
      margin-right: 16px;
    }

    &__name {
      font-size: 24px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    &__time {

      span:first-child {
        font-size: 36px;
        font-weight: 700;
      }

      span:last-child {
        font-weight: 400;
        font-size: 18px;
        color: #687586;
      }
    }
  }

  .input__clear {
    float: right;
    font-weight: 400;
    color: #687586;
    cursor: pointer;
    font-size: 12px;
  }

  .results-page__empty {
    color: #7d8a9b;
    text-align: center;
    font-size: 18px;
    margin: 32px 0;
  }

  @media (max-width: 1200px) {

    .results-page__list {
      max-width: 100%;
      padding: 0 32px;
    }

    .results-page__header-content {
      padding: 0 32px
    }
  }

  @media (max-width: 1023px) {

    .top-finishers {
      display: block;
    }

    .top-finisher {
      margin-bottom: 16px;

      &:after {
        display: none;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    .results-page__header-content {
      padding: 0 16px;
    }

    .results-page__list {
      max-width: 100%;
      padding: 0 16px;
    }

    .results-page__filters {
      display: block;
    }

    .input {
      display: block;

      .el-select {
        display: block;
      }
    }

    .results-page__groups {
      flex: 1;

      .input {
        margin: 0 0 16px;
      }
    }

    .results-page__table {

      td {
        padding: 8px 6px;
        font-size: 12px;

        &:last-child {
          padding: 8px 6px;
        }

        span {
          font-size: 10px;
        }
      }
    }

    .results-page__table-container {
      margin: 0 -16px;
    }

    .results-page__table {

      th {
        padding: 8px 6px;
        font-size: 10px;
      }
    }

    .results-page__system {
      width: 90px;

      /deep/ .el-input__inner {
        font-size: 10px;
      }
    }
  }
</style>
