<template>
  <header class="page-header container">
    <div class="row justify-content-between align-items-center">
      <nuxt-link
        v-if="logo"
        :to="logo.url"
        class="page-header__logo col-auto"
      >
        <img
          :src="logo.image"
          alt="Logo"
        />
      </nuxt-link>
      <nav
        v-if="navigation"
        class="col-auto d-none d-sm-block page-header__desktop-navigation">
        <ul>
          <li
            v-for="link in navigation"
            :key="link.url"
          >
            <nuxt-link :to="link.url" class="link link--black">
              {{ link.text }}
            </nuxt-link>
          </li>
        </ul>
      </nav>
      <div class="col-auto d-none d-sm-block page-header__desktop-authorization">
        <el-popover
          v-if="user"
          placement="bottom"
          trigger="click"
        >
          <div
            slot="reference"
            class="auth-user"
          >
            <div class="auth-user__initials">
              {{ user.initials }}
            </div>
            <div
              :style="{ backgroundImage: `url(${authenticatedUser.image})` }"
              class="auth-user__image"
            />
          </div>
          <div class="menu">
            <div
              class="menu__item"
              @click="onSignOutClick"
            >
              Sign Out
            </div>
          </div>
        </el-popover>
        <div
          v-else
          class="button button--sm button--white"
          @click="onSignInClick"
        >
          Sign In
        </div>
      </div>
      <div
        class="main-navigation__toggle col-auto d-block d-sm-none"
        @click="onNavigationToggleClick"
      >
        <i class="fas fa-bars" />
      </div>
    </div>
    <auth-drawer
      v-model="authorizationOpen"
      @finish="onAuthFinish"
    />
    <mobile-navigation
      v-model="mobileNavigationOpen"
      @sign-in="onSignInClick"
      @sign-out="onSignOutClick"
    />
  </header>
</template>

<script>
  import AuthDrawer from '../auth-drawer';
  import MobileNavigation from '../mobile-navigation';

  export default {
    components: {
      AuthDrawer,
      MobileNavigation,
    },
    props: ['logo', 'navigation', 'user'],
    data() {
      return {
        authorizationOpen: false,
        mobileNavigationOpen: false,
      };
    },
  };
</script>

<style lang="scss" scoped>
  .page-header {

    & > .row {
      height: 80px;
    }

    &__desktop-navigation {
      font-family: Poppins, sans-serif;
      font-size: 14px;
      font-weight: 500;

      ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
      }

      li {
        display: inline-block;
        margin-right: 15px;

        &:last-child {
          margin: 0;
        }
      }
    }

    &__desktop-authorization {
      font-size: 0;
    }
  }
</style>
