<template>
  <div class="public-page">
    <public-page-header />
    <section class="public-page__body">
      <slot></slot>
    </section>
    <public-page-footer />
  </div>
</template>

<script>
  import PublicPageHeader from './public-page-header';
  import PublicPageFooter from './public-page-footer';

  export default {
    components: {
      PublicPageHeader,
      PublicPageFooter,
    },
  };
</script>

<style lang="scss" scoped>
  .public-page {
    height: 100%;
    width: 100%;
  }
</style>
