<template>
  <page-header
    theme="dark"
    :logo="logo"
    :navigation="navigation"
    :user="user"
  />
</template>

<script>
  import PageHeader from '../page-header';

  export default {
    components: {
      PageHeader,
    },
    data() {
      return {
        theme: 'dark',
        logo: {
          image: '/fs-logo--dark.svg',
          url: '/',
        },
        navigation: [
          {
            text: 'Find a Race',
            url: '/',
          },
          {
            text: 'Contact Us',
            url: '/contact-us',
          },
        ],
      };
    },
    computed: {
      user() {
        const rawUser = this.$store.state.authenticatedUser;
        if (rawUser) {
          const firstName = rawUser.first_name;
          const lastName = rawUser.last_name;
          return {
            fullName: `${firstName} ${lastName}`,
            initials: `${firstName ? firstName[0] : ''}${lastName ? lastName[0] : ''}`,
            image: rawUser.profile_pic_url?.replace('{size}', '50'),
          };
        }
        return null;
      },
    },
  };
</script>
